---
title: BPET
desc: "The Bearing Press and Extraction Tool is a simple tool used to extract and insert linkage bearings on mountain bikes"
ogUrl: /products/tools/bpet.html
ogImg: /img/products/tools/bpet/gallery/1.png
pageId: js-product
pageClass: c-productPage
pageCss: product
productName: Bearing press & extraction tool
productUrl: tools/bpet
productOverview: [
  "The Bearing Press & Extraction Tool (BPET) is designed for the ‘Home Mechanic’ for use on ‘LINKAGE BEARINGS’, however it still works on many pivot and hub bearings.",
  "This tool is designed for the competent home mechanic who has reasonable knowledge and experience of working on bikes. This tool is designed to extract and insert linkage bearings, however the tool can also be used to press and extract bearings on some hubs and freehub bodies"
]
productOverviewImportantNote: "all bearing kit adaptors are sold separately"
productImages: [
  {
    imageUrl: tools/bpet/gallery/1,
    imageAlt: BPET Tool
  },
  {
    imageUrl: tools/bpet/gallery/2,
    imageAlt: BPET Tool Kit
  },
  {
    imageUrl: tools/bpet/gallery/3,
    imageAlt: BPET Tool Extras
  }
]
tabsNav: [
  {
    link: Details,
    id: details,
    activeClass: is-active
  },
  {
    link: Reviews,
    id: reviews
  }
]
reviews: [
  {
    quote: "The BPET makes what can be an awkward job much easier and more accurate, and helps with precise fitting without damaging beloved frames"
  },
  {
    quote: "The RRP tool is the best option for removing tricky linkage bearings without causing damage and keeps them correctly aligned saving you time in the long run"
  },
  {
    quote: "Proper maintenance can improve the life of your bearings massively",
    cite: "MBUK"
  }
]
---

{% extends "default.html" %}

{% block icons %}
  {% include "icons-products.nunjucks" %}
{% endblock %}

{% block content %}

  <article class="c-productMain">

    <div class="o-container">

      {% include "product-overview.nunjucks" %}

    </div><!-- !END div.o-grid -->

    <div class="c-tabs">

      <ul class="c-tabs__nav o-container">
        {% for item in tabsNav %}
        <li class="c-tabs__navItem">
          <a href="#{{ item.id }}" class="c-tabs__link {{ item.activeClass }}">{{ item.link }}</a>
        </li>
        {% endfor %}
      </ul>

      <div class="c-tabs__contentWrap">

        <div class="o-container">

          <div id="details" class="c-tabs__content is-active">
            {% include "details-bpet.nunjucks" %}
          </div>
          <div id="reviews" class="c-tabs__content">
            {% include "reviews.nunjucks" %}
          </div>

        </div>

      </div>

    </div>

  </article>

{% endblock %}
