/* ==========================================================================
   COMPONENTS/PAGES - CLOSE OUT SALE
   ========================================================================== */

.c-closeOutSale {
  padding: $rhythm / 2 0;
  background: rgba(colour(brand, a), 0.75);
  text-align: center;

  &_title {
    @include vr(20px, 1, 0.4);
    color: white;
    text-transform: uppercase;
  }

  @include bp(20) {

    .o-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_title {
      font-size: rem(22px);
      margin-right: rem(36px);
      margin-bottom: 0;
    }
  }
}
