/* ==========================================================================
   COMPONENTS/PAGES - CONTACT-WRAP
   ========================================================================== */

.c-contactWrap {
  margin-bottom: $rhythm * 2;
  background: white;
  border-radius: 6px;
}
