/* ==========================================================================
   COMPONENTS/PAGES - DISTRIBUTOR-COUNTRIES
   ========================================================================== */

.c-distributorCountries {
  margin-bottom: $rhythm;
  padding: $rhythm 0;
  text-align: center;
  background: white;
  border-radius: 6px;

    &__label {
      display: block;
      margin-bottom: $rhythm;
      font-size: rem(20px);
    }
    &__options {
      background: colour(brand, b);
      color: white;
    }
}
