/* ==========================================================================
   COMPONENTS/PAGES - PRODUCT-COLOURS
   ========================================================================== */

.c-productCols {
  display: flex;
  flex-wrap: wrap;
  gap: rem(5px);
  text-align: center;

  &__item {
    max-width: 125px;

      a {
        display: block;
        padding: rem(4px);
        background: white;
        border: 1px solid lighten(colour(brand, b),48);
        text-decoration: none;
        transition: box-shadow 150ms ease-in;

        &:hover {
          box-shadow: 0 0 15px rgba(black, 0.7);
        }
      }
  }
  &__title {
    color: colour(brand, a);
  }
  &__img {
    display: block;
  }
  &__name {
    display: block;
    margin: rem(2px) rem(-3px) rem(-3px) rem(-3px);
    padding: rem(1px);
    font-size: rem(11px);
    text-align: center;
    color: white;
    background: rgba(black, 0.3);
  }

}
