/* ==========================================================================
   COMPONENTS/PAGES - PRODUCT-VIDEOS
   ========================================================================== */

.c-productVideos {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;

  &_video {
    flex: 1 0 1;
    min-width: 150px;
    text-align: center;
    padding-left: 4px;
  }
}