/* ==========================================================================
   COMPONENTS/PAGES - PRODUCT-VIDEO
   ========================================================================== */

.c-productVideo {
  width: 100%;
  border: none;
  position: relative;
  overflow: hidden;  

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(black, 0.6);
    z-index: 10;
  }

  &_text,
  &_youtube {
    position: absolute;
  }

  &_text {
    display: inline-block;
    width: 100%;
    padding: 20px 12px 12px 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 20;
  }

  &_youtube {
    top: 0;
    right: rem(4px);
    font-size: rem(22px);
    z-index: 10;
    fill: colour(social, youtube);
    opacity: 0.6;
    transition: opacity ease-in 200ms;
  }

  &_img {
    width: 100%;
    display: block;
    transition: transform ease-in 200ms;
  }

  &:hover {
    cursor: pointer;

    .c-productVideo_youtube {
      opacity: 1;
    }
    .c-productVideo_img {
      transform: scale(1.2);
    }
  }

  @include bp(30) {
    &_video {
      padding: rem(24px);
    }
  }
}