/* ==========================================================================
   COMPONENTS/PAGES - TABS
   ========================================================================== */

.c-tabs {

  &__nav {
    display: flex;
  }
  &__navItem {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: lighten(colour(brand, b),10);
  }
  &__link {
    display: block;
    padding: rem(6px);
    background: colour(brand, b);
    color: white;
    text-decoration: none;

      &.is-active, &:hover {
        background: white;
        color: colour(main, text);
      }
  }
  &__contentWrap {
    background: white;
  }
  &__content {
    display: none;
    padding: rem(36px) 0;
    color: colour(main, text);

      &.is-active {
        display: block;
      }
  }

  @include bp(15) {
    &__link {
      padding: rem(20px);
    }
    &__fittingVid {
      float: right;
      margin-top: rem(-60px);
    }
  }

}
