---
title: RapidRacerProducts | CX-Guard
desc: "The CX-Guard is a simple front mudguard for cyclocross bikes compatible with disc and cantilever brakes significantly reducing the amount of spray and mud thrown up into your eyes"
ogUrl: /products/mudguards/cxguard.html
ogImg: /img/products/mudguards/cxguard/gallery/1.png
pageId: js-product
pageClass: c-productPage
pageCss: product
productName: CX-Guard
productUrl: mudguards/cxguard
uk: true/false
productLogo: cxguard
productShortDesc1: "PROTECTION FOR FACE AND LOWER BEARING"
productShortDesc2: "(compatible with disc or cantilever brakes)"
productOverview: [
  "The CX-Guard is a simple front mudguard designed for both disc brake and cantilever brake systems on cyclocross bikes, it also fits many disc road bikes significantly reducing the amount of spray and mud thrown up into your face and eyes, it also stops the lower bearing seals from being hammered at high velocity increasing their durability and saving you money. We have built-in a cable relief section either side of the RRP logo at the front to allow you to use with cantilever brakes as well as disc"
]
productWeight: 22g
productColours: {
  title: Colours available,
  colours: [
    {
      colour: black,
      imageUrl: mudguards/cxguard/gallery/black.png,
      imageAlt: CX-Guard in black,
      id: black
    },
    {
      colour: white,
      imageUrl: mudguards/cxguard/gallery/white.png,
      imageAlt: CX-Guard in white,
      id: white
    }
  ]
}
productImages: [
  {
    imageUrl: mudguards/cxguard/gallery/1,
    imageAlt: CX-Guard,
    id: 1
  },
  {
    imageUrl: mudguards/cxguard/gallery/2,
    imageAlt: CX-Guard,
    id: 2
  },
  {
    imageUrl: mudguards/cxguard/gallery/3,
    imageAlt: CX-Guard,
    id: 3
  },
  {
    imageUrl: mudguards/cxguard/gallery/4,
    imageAlt: CX-Guard,
    id: 4
  },
  {
    imageUrl: mudguards/cxguard/gallery/5,
    imageAlt: CX-Guard,
    id: 5
  },
  {
    imageUrl: mudguards/cxguard/gallery/6,
    imageAlt: CX-Guard,
    id: 6
  },
  {
    imageUrl: mudguards/cxguard/gallery/7,
    imageAlt: CX-Guard,
    id: 7
  },
  {
    imageUrl: mudguards/cxguard/gallery/black,
    imageAlt: CX-Guard black,
    id: black
  },
  {
    imageUrl: mudguards/cxguard/gallery/white,
    imageAlt: CX-Guard in white,
    id: white
  }
]
tabsNav: [

  {
    link: Fitting,
    id: fitting,
    activeClass: is-active
  }
]
fitting: {
  front: [
    {
      step: "Simply bend and slide the mudguard under the fork or fork brace"
    },
    {
      step: "Attach the zip ties to the fork legs very loosely with the CX-Guard at the TOP of the fork"
    },
    {
      step: "You can now set the angle you want the guard to finish at ensuring it doesn't strike the downtube of your frame, optimal is 10mm from the downtube"
    },
    {
      step: "Hold in position and see which snap-off holes you need to use, use a screw driver or similar to push out the holes you want to use"
    },
    {
      step: "Slide zip ties through the selected holes and attach"
    },
    {
      step: "Finally check angle and alignment and then do up all zip ties very tight",
      images: [
        {
          imgUrl: mudguards/cxguard/fitting/fitted.png,
          imgAlt: Image showing fitted cx-guard
        }
      ]
    }
  ],
  important: {
    single: [
      "Zip ties must be very tight to prevent movement. MIN CLEARANCE - 10mm from tyre (front) & 15mm from frame (rear) USE CLEAR PROTECTIVE TAPE on all areas that the guard contacts the fork to reduce any rub marks or scratches INSPECT BEFORE YOU RIDE: DO NOT USE IF DAMAGED IN ANY WAY AS CONTINUED USE MAY LEAD TO FAILURE OR INJURY DO NOT USE IN STICKY MUD AS IT MAY CAUSE A BLOCKAGE. DO NOT CLEAN WITH NAIL VARNISH REMOVER OR DISC BRAKE CLEANER RapidRacerProducts Ltd accepts no liability for any damage / injury caused due to improper fitting / use of our products RapidRacerProducts Ltd, Parkfields Business Centre, Park Street, Stafford, ST17 4AL, United Kingdom"
    ]
  }
}
---

{% extends "default.html" %}

{% block icons %}
  {% include "icons-products.nunjucks" %}
{% endblock %}

{% block content %}

  <article class="c-productMain">

    <div class="o-container">

      {% include "product-overview.nunjucks" %}

    </div><!-- !END div.o-grid -->

    <div class="c-tabs">

      <ul class="c-tabs__nav o-container">
        {% for item in tabsNav %}
        <li class="c-tabs__navItem">
          <a href="#{{ item.id }}" class="c-tabs__link {{ item.activeClass }}">{{ item.link }}</a>
        </li>
        {% endfor %}
      </ul>

      <div class="c-tabs__contentWrap">

        <div class="o-container">

          <div id="fitting" class="c-tabs__content is-active">
            {% include "fitting.nunjucks" %}
            {% include "made-in-uk.nunjucks" %}
          </div>

        </div>

      </div>

    </div>

  </article>

{% endblock %}
