---
title: RapidRacerProducts | EnduroGuard
desc: "The EnduroGuard is a front or rear mudguard for mountain bikes which stops mud from getting into your eyes, it also protects your fork seals and is available in 9 different colourways"
ogUrl: /products/mudguards/enduroguard.html
ogImg: /img/products/mudguards/enduroguard/gallery/1.png
pageId: js-product
pageClass: c-productPage
pageCss: product
productName: EnduroGuard
productUrl: mudguards/enduroguard
uk: true
productVersion: v3
productLogo: enduroguard
productOverview: [
  "Our new ENDUROGUARD v3 mudguard is an improved design which is much better at coping with the bigger wheel sizes, we believe our mudguard is the best designed offering by far the best protection of its type for your eyes and fork seals. We have also added new graphics and colourways to our range."
]
productSizes: {
  title: Available in 2 sizes,
  sizes: [
    {
      size: "Standard",
      details: For forks from 80mm to 125mm travel,
      weight: 31g with uncut zip ties
    },
    {
      size: "Large",
      details: For forks from 130mm to 200mm travel,
      weight: 35g with uncut zip ties
    }
  ]
}
productColours: {
  title: Colours available,
  colours: [
    {
      colour: black,
      imageUrl: mudguards/enduroguard/gallery/black.png,
      imageAlt: Enduroguard in black,
      id: black
    },
    {
      colour: white,
      imageUrl: mudguards/enduroguard/gallery/white.png,
      imageAlt: Enduroguard in white,
      id: white
    },
    {
      colour: cyan,
      imageUrl: mudguards/enduroguard/gallery/cyan.png,
      imageAlt: Enduroguard in cyan,
      id: cyan
    },
    {
      colour: turquoise,
      imageUrl: mudguards/enduroguard/gallery/turquoise.png,
      imageAlt: Enduroguard in turquoise,
      id: turquoise
    },
    {
      colour: yellow,
      imageUrl: mudguards/enduroguard/gallery/yellow.png,
      imageAlt: Enduroguard in yellow,
      id: yellow
    },
    {
      colour: green,
      imageUrl: mudguards/enduroguard/gallery/green.png,
      imageAlt: Enduroguard in green,
      id: green
    },
    {
      colour: red,
      imageUrl: mudguards/enduroguard/gallery/red.png,
      imageAlt: Enduroguard in red,
      id: red
    },
    {
      colour: magenta,
      imageUrl: mudguards/enduroguard/gallery/magenta.png,
      imageAlt: Enduroguard in magenta,
      id: magenta
    },
    {
      colour: blue,
      imageUrl: mudguards/enduroguard/gallery/blue.png,
      imageAlt: Enduroguard in blue,
      id: blue
    },
    {
      colour: orange,
      imageUrl: mudguards/enduroguard/gallery/orange.png,
      imageAlt: Enduroguard in orange,
      id: orange
    }
  ]
}
productImages: [
  {
    imageUrl: mudguards/enduroguard/gallery/1,
    imageAlt: EnduroGuard,
    id: 1
  },
  {
    imageUrl: mudguards/enduroguard/gallery/2,
    imageAlt: EnduroGuard,
    id: 2
  },
  {
    imageUrl: mudguards/enduroguard/gallery/black,
    imageAlt: EnduroGuard,
    id: black
  },
  {
    imageUrl: mudguards/enduroguard/gallery/white,
    imageAlt: EnduroGuard,
    id: white
  },
  {
    imageUrl: mudguards/enduroguard/gallery/cyan,
    imageAlt: EnduroGuard,
    id: cyan
  },
  {
    imageUrl: mudguards/enduroguard/gallery/turquoise,
    imageAlt: EnduroGuard,
    id: turquoise
  },
  {
    imageUrl: mudguards/enduroguard/gallery/yellow,
    imageAlt: EnduroGuard,
    id: yellow
  },
  {
    imageUrl: mudguards/enduroguard/gallery/green,
    imageAlt: EnduroGuard,
    id: green

  },
  {
    imageUrl: mudguards/enduroguard/gallery/red,
    imageAlt: EnduroGuard,
    id: red
  },
  {
    imageUrl: mudguards/enduroguard/gallery/magenta,
    imageAlt: EnduroGuard,
    id: magenta
  },
  {
    imageUrl: mudguards/enduroguard/gallery/blue,
    imageAlt: EnduroGuard,
    id: blue
  },
  {
    imageUrl: mudguards/enduroguard/gallery/orange,
    imageAlt: EnduroGuard,
    id: orange
  }
]
ukDistributor: [
  EXTRA UK
]
tabsNav: [
  {
    link: Details,
    id: details,
    activeClass: is-active
  },
  {
    link: Fitting,
    id: fitting
  },
  {
    link: Reviews,
    id: reviews
  }
]
fitting: {
  front: [
    {
      step: Remove zip ties and insert them into all the holes as shown below,
      images: [
        {
          imgUrl: mudguards/enduroguard/fitting/front-1.png,
          imgAlt: Image showing how to fit ties into holes of the front EnduroGuard
        },
        {
          imgUrl: mudguards/enduroguard/fitting/front-2.png,
          imgAlt: Image showing how to fit ties into holes of the front EnduroGuard
        }
      ]
    },
    {
      step: Bend and slide the ENDUROGUARD into position from the front
    },
    {
      step: Loosely fasten up the top zip ties around the fork brace first then the legs4) Centralise and then tighten up the top zip ties real tight so it won't move
    },
    {
      step: Rotate/twist the bottom arms around the legs to raise the back of the guard (ensure the guard doesn't hit the frame when bottoming the fork)
    },
    {
      step: Tighten all zip ties and cut off any excess and move them to cover the holes
    },
    {
      step: Finally push up the arms to shove the guard up towards the fork brace,
      images: [
        {
          imgUrl: mudguards/enduroguard/fitting/front-3.png,
          imgAlt: Image showing front EnduroGuard fitted
        }
      ]
    }
  ],
  rear: [
    {
      step: Remove the snap-off holes either side of the RRP logo if you have a rear brace, if you don't have a rear brace then use the other snap-off holes
    },
    {
      step: Loosely attach the zip ties to the rear seatstays and rear brace
    },
    {
      step: Align the ENDUROGUARD and do up all the zip ties real tight,
      images: [
        {
          imgUrl: mudguards/enduroguard/fitting/rear-1.png,
          imgAlt: Image showing rear EnduroGuard fitted
        }
      ]
    }
  ]
}
reviews: [
  {
    quote: "The EnduroGuard v3 is perhaps the best small mudguard out there",
    cite: What Mountain Bike
  },
  {
    quote: "We think RRP might have managed to sneak ahead of the competition thanks to some neat little touches on this new EnduroGuard",
    cite: Dirt mountainbike magazine
  },
  {
    quote: "They are real easy to install, their performance is good, these are very affordable. The EnduroGuard Mudguard fits all sized wheels and the colour choice is also a great option",
    cite: Enduro mountainbike magazine
  },
  {
    quote: "A more aesthetically pleasing splatter guard, a wee bit stiffer than some of the rivals. Fit is great, it's almost compulsary to have one of these fitted even if you only ride in the dry. Seal Guards! Yes",
    cite: Decent-World
  }
]
---

{% extends "default.html" %}

{% block icons %}
  {% include "icons-products.nunjucks" %}
{% endblock %}

{% block content %}

  <article class="c-productMain">

    <div class="o-container">

      {% include "product-overview.nunjucks" %}

    </div><!-- !END div.o-grid -->

    <div class="c-tabs">

      <ul class="c-tabs__nav o-container">
        {% for item in tabsNav %}
        <li class="c-tabs__navItem">
          <a href="#{{ item.id }}" class="c-tabs__link {{ item.activeClass }}">{{ item.link }}</a>
        </li>
        {% endfor %}
      </ul>

      <div class="c-tabs__contentWrap">

        <div class="o-container">

          <div id="details" class="c-tabs__content is-active">
            {% include "details-enduroguard.nunjucks" %}
          </div>
          <div id="fitting" class="c-tabs__content">
            {% include "fitting.nunjucks" %}
          </div>
          <div id="reviews" class="c-tabs__content">
            {% include "reviews.nunjucks" %}
          </div>

        </div>

      </div>

    </div>

  </article>

{% endblock %}
