---
title: EnduroGuard
desc: Needs updating
pageId: js-product
pageClass: c-productPage
pageCss: product
productName: EnduroGuard
productVersion: v3 2016
productLogo: enduroguard
productOverview: Our new ENDUROGUARD v3 mudguard is a much improved design which is much better at coping with the bigger wheel sizes, we have also added new graphics and colourways to our range. Our mudguards are used by some of the best riders in the world keeping the mud and spray out of your eyes, we believe our new ENDUROGUARD v3 is the best mudguard of its type available today. Just snap-off the round holes either side of the RRP logo and you can attach it to the rear stays to protect your linkages and shock from getting hammered.
productSizeDetails: {
  title: Available in 2 sizes,
  sizes: [
    {
      size: Standard,
      details: for forks from 80mm to 125mm travel
    },
    {
      size: Large,
      details: for forks from 130mm to 200mm travel
    }
  ]
}
---

{% extends "default.html" %}

{% block content %}

  <article class="c-productMain">

    {% include "product-overview.nunjucks" %}

    <div class="c-section">
      details
    </div>

  </article>

{% endblock %}
