---
title: EnduroGuard
desc: Needs updating
pageId: js-product
pageClass: c-productPage
pageCss: product
productName: EnduroGuard
uk: true
productVersion: v3 2016
productLogo: enduroguard
productOverview: [
  "Our new ENDUROGUARD v3 mudguard is a much improved design which is much better at coping with the bigger wheel sizes, we have also added new graphics and colourways to our range."
]
productSizes: {
  title: Available in 2 sizes,
  sizes: [
    {
      size: "Standard:",
      details: for forks from 80mm to 125mm travel,
      weight: 31g (with uncut zip ties)
    },
    {
      size: "Large:",
      details: for forks from 130mm to 200mm travel,
      weight: 35g (with uncut zip ties)
    }
  ]
}
productColours: {
  title: Colours available,
  colours: [
    {
      colour: Black,
      class: black
    },
    {
      colour: White,
      class: white
    },
    {
      colour: Cyan,
      class: cyan
    },
    {
      colour: Yellow,
      class: yellow
    },
    {
      colour: Green,
      class: green
    },
    {
      colour: Red,
      class: red
    },
    {
      colour: Magenta,
      class: magenta
    },
    {
      colour: Blue,
      class: blue
    },
    {
      colour: Orange,
      class: orange
    }
  ]
}
productImages: enduroguard/1
productAlt: EnduroGuard
tabsNav: [
  {
    link: Details,
    id: details,
    activeClass: is-active
  },
  {
    link: Fitting,
    id: fitting
  }
]
---

{% extends "default.html" %}

{% block content %}

  <article class="c-productMain">

    <div class="o-container">

      {% include "product-overview.nunjucks" %}

    </div><!-- !END div.o-grid -->

    <div class="c-tabs">

      <ul class="c-tabs__nav o-container">
        {% for item in tabsNav %}
        <li class="c-tabs__navItem">
          <a href="#{{ item.id }}" class="c-tabs__link {{ item.activeClass }}">{{ item.link }}</a>
        </li>
        {% endfor %}
      </ul>

      <div class="c-tabs__contentWrap">

        <div class="o-container">

          <div id="details" class="c-tabs__content is-active">
            {% include "details-enduroguard.nunjucks" %}
          </div>
          <div id="details" class="c-tabs__content">
            fitting
          </div>

        </div>

      </div>

    </div>

  </article>

{% endblock %}
