---
title: RapidRacerProducts | NeoGuard - Rigid
desc: "The NeoGuard RIGID is the original neoprene mudguard designed for rigid forks found on mountain and cyclocross bikes, it to prevents mud and spray from getting in your face and eyes"
ogUrl: /products/mudguards/neoguard-rigid.html
ogImg: /img/products/mudguards/neoguard-rigid/gallery/1.png
pageId: js-product
pageClass: c-productPage
pageCss: product
productName: NeoGuard - Rigid
productUrl: mudguards/neoguard-rigid
uk: false
productOverview: [
  "This NeoGuard RIGID is specifically designed for Rigid forks whether you have a Moutainbike, Cyclo-Cross bike, or a Fat Bike this little mudguard is a must have."
]
productSizes: {
  title: Available in 3 sizes,
  subTitle: "CROWN to TYRE clearance",
  sizes: [
    {
      size: "Small:",
      details: from 47mm to 67mm,
      weight: 7g
    },
    {
      size: "Medium:",
      details: from 63mm to 83mm,
      weight: 8g
    },
    {
      size: "Large:",
      details: from 70mm to 90mm,
      weight: 9g
    }
  ]
}
productImages: [
  {
    imageUrl: mudguards/neoguard-rigid/gallery/1,
    imageAlt: Neoguard-Rigid
  },
  {
    imageUrl: mudguards/neoguard-rigid/gallery/2,
    imageAlt: Neoguard-Rigid
  },
  {
    imageUrl: mudguards/neoguard-rigid/gallery/3,
    imageAlt: Neoguard-Rigid
  },
  {
    imageUrl: mudguards/neoguard-rigid/gallery/4,
    imageAlt: Neoguard-Rigid
  },
  {
    imageUrl: mudguards/neoguard-rigid/gallery/5,
    imageAlt: Neoguard-Rigid
  },
  {
    imageUrl: mudguards/neoguard-rigid/gallery/6,
    imageAlt: Neoguard-Rigid
  },
  {
    imageUrl: mudguards/neoguard-rigid/gallery/7,
    imageAlt: Neoguard-Rigid
  },
  {
    imageUrl: mudguards/neoguard-rigid/gallery/8,
    imageAlt: Neoguard-Rigid
  },
  {
    imageUrl: mudguards/neoguard-rigid/gallery/9,
    imageAlt: Neoguard-Rigid
  },
  {
    imageUrl: mudguards/neoguard-rigid/gallery/10,
    imageAlt: Neoguard-Rigid
  },
  {
    imageUrl: mudguards/neoguard-rigid/gallery/11,
    imageAlt: Neoguard-Rigid
  },
  {
    imageUrl: mudguards/neoguard-rigid/gallery/12,
    imageAlt: Neoguard-Rigid
  }
]
tabsNav: [
  {
    link: Details,
    id: details,
    activeClass: is-active
  },
  {
    link: Fitting,
    id: fitting
  },
  {
    link: Size guide,
    id: sizing
  },
  {
    link: Reviews,
    id: reviews
  }
]
fitting: {
  single: [
    {
      step: "Wrap the 2 velcro straps at the top of the NeoGuard RIGID over and then under the lower crown and pull back through the eyelets in the guard, only loosely attach them for now, this will help keep the guard out of the way whilst you attach the bottom straps",
    },
    {
      step: "Wrap the 2 velcro straps around the fork legs and back through the eyelets as above, always ensure you DO THEM UP NICE AND TIGHT",
    },
    {
      step: "Now pull the top straps up nice and tight to ensure there is no movement checking you have around 5mm of tyre clearance",
    },
    {
      step: "Finally, YOU MUST CUT OFF THE EXCESS VELCRO AFTER FITTING",
      images: [
        {
          imgUrl: mudguards/neoguard-rigid/fitting/1.png,
          imgAlt: Image showing fitting the neoguard rigid
        }
      ]
    }
  ],
  important: "You must ensure there is at least 5mm of tyre clearance to ensure there is no interference when steering. This product should be fitted correctly following the instructions provided. Failure to do so may result in the product failing and potential harm to the rider and / or damage to other components.Should the product fail, RapidRacerProducts reserves the right to inspect the product and damage caused and take suitable action. The decision to replace a faulty NeoGuard rests with RapidRacerProducts. No responsibility will be accepted for any damaged caused by uplifts or neglect."
}
reviews: [
  {
    quote: "It fits in under a minute and it'll do far more justice to your posh rig than that manky old bit of inner tube",
    cite: Dirt
  },
  {
    quote: "The NeoGuard is a neoprene panel with velcro fastenings top and bottom to pull it taught, a neat alternative to a bodged inner tube",
    cite: MBUK performance rating 10 out of 10
  },
  {
    quote: "It stops spray from hitting you in the face which is a godsend when your racing. The best bit is when the fork compresses, it scrunches up the guard and loosens the mud. It's also lightweight and can go in the wash, a new an innovative take on mud protection",
    cite: mbr rating 9 out of 10
  },
  {
    quote: "RapidRacerProducts have come up with a slick solution to an age old problem",
    cite: What Magazine
  },
  {
    quote: "RRP's NeoGuard - Product of the year? How does it fit? dead easy it took me about 30 seconds, it took longer to get out of the packet. 5 hoop and loop straps hold it tight to the lower crown and the fork brace on the sliders... then ride, get it dirty and then chuck it in the washing machine with the rest of your kit. Genius!!",
    cite: descent-world.co.uk
  },
  {
    quote: "Rapid Racer launch new mudguard. Rapid Racer Products has launched a new mudguard that’s lightweight, which doubles up as an advertising banner for any company / brand or race team. The neoprene guard sheds clingy mud with compression of the suspension, thus staying light due to very little dirt retention.",
    cite: Bike Biz
  },
  {
    quote: "The NeoGuard works perfectly. The rapid racing crew run a tight ship on the race circuit and saw the need for a professional product to replace the pikey tube fix. Fitting takes a few seconds, we checked everyones goggles after a recent spray-ridden run at Cwmcarn and the unsurprising result is the NeoGuard fender' is a success, keeping goggles mostly splatter free as intended. It's a very well executed solution, looks the part, and is a carefully developed product.",
    cite: Gravity-Slaves
  },
  {
    quote: "This ingenious piece of neoprene is soft, light and flexible and always in your toolbox. As a small bonus, it has plenty of room for sponsor logos for those head on photos where they are usually not visible.",
    cite: Transcend Magazine Canada
  }
]
---

{% extends "default.html" %}

{% block icons %}
  {% include "icons-products.nunjucks" %}
{% endblock %}

{% block content %}

  <article class="c-productMain">

    <div class="o-container">

      {% include "product-overview.nunjucks" %}

    </div><!-- !END div.o-grid -->

    <div class="c-tabs">

      <ul class="c-tabs__nav o-container">
        {% for item in tabsNav %}
        <li class="c-tabs__navItem">
          <a href="#{{ item.id }}" class="c-tabs__link {{ item.activeClass }}">{{ item.link }}</a>
        </li>
        {% endfor %}
      </ul>

      <div class="c-tabs__contentWrap">

        <div class="o-container">

          <div id="details" class="c-tabs__content is-active">
            {% include "details-neoguardRigid.nunjucks" %}
          </div>
          <div id="fitting" class="c-tabs__content">
            {% include "fitting.nunjucks" %}
          </div>
          <div id="fitting" class="c-tabs__content">
            {% include "sizing-neoguardRigid.nunjucks" %}
          </div>
          <div id="reviews" class="c-tabs__content">
            {% include "reviews.nunjucks" %}
          </div>

        </div>

      </div>

    </div>

  </article>

{% endblock %}
