---
title: NeoGuard
desc: Needs updating
pageId: js-product
pageClass: c-productPage
pageCss: product
productName: NeoGuard
uk: false
productOverview: [
  "Our NeoGuard is the original neoprene mudguard specifically designed to prevent mud and spray from getting in your face and eyes, its much copied but still the best. Traditional mudguards are fragile and can hold on to pounds of unwanted mud affecting your riding performance and slowing you down. The NeoGuard throws the mud off every time the fork compresses keeping your bike light and agile."
]
productSizes: {
  title: Available in 4 sizes,
  sizes: [
    {
      size: "Extra small:",
      details: from 80mm to 130mm,
      weight: 18g
    },
    {
      size: "Small:",
      details: from 120mm to 150mm,
      weight: 20g
    },
    {
      size: "Medium:",
      details: from 160mm to 180mm,
      weight: 21g
    },
    {
      size: "Large:",
      details: from 180mm to 200mm,
      weight: 25g
    }
  ]
}
productImages: [
  {
    imageUrl: mudguards/neoguard/gallery/1,
    imageAlt: Neoguard
  },
  {
    imageUrl: mudguards/neoguard/gallery/2,
    imageAlt: Neoguard
  },
  {
    imageUrl: mudguards/neoguard/gallery/3,
    imageAlt: Neoguard
  },
  {
    imageUrl: mudguards/neoguard/gallery/4,
    imageAlt: Neoguard
  },
  {
    imageUrl: mudguards/neoguard/gallery/5,
    imageAlt: Neoguard
  }
]
ukDistributor: [
  EXTRA UK
]
tabsNav: [
  {
    link: Details,
    id: details,
    activeClass: is-active
  },
  {
    link: Fitting,
    id: fitting
  },
  {
    link: Reviews,
    id: reviews
  }
]
fitting: {
  front: [
    {
      step: "Wrap the 2 velcro straps at the top of the NeoGuard over and then under the lower crown and pull back through the eyelets in the guard, only loosely attach them for now, this will help keep the guard out of the way whilst you attach the bottom straps."
    },
    {
      step: "Wrap the 3 velcro straps around the fork brace at the bottom starting with the middle one, always ensure you DO THEM UP NICE AND TIGHT."
    },
    {
      step: "Pull the top straps to stretch the Neoguard, don't worry about stretching the eyelets as it's re-enforced eyelets are designed to stretch, once fitted it should be taught. The stretch reduces the gathering of the guard when the fork compresses. Finally, YOU MUST CUT OFF THE EXCESS VELCRO AFTER FITTING"
    }
  ],
  important: "You must ensure there is at least 15mm of tyre clearance and 10mm between the back of the guard and the downtube of the frame to ensure there is no interference when steering. This product should be fitted correctly following the instructions provided. Failure to do so may result in the product failing and potential harm to the rider and / or damage to other components.Should the product fail, RapidRacerProducts reserves the right to inspect the product and damage caused and take suitable action. The decision to replace a faulty NeoGuard rests with RapidRacerProducts. No responsibility will be accepted for any damaged caused by uplifts or neglect. Our NEOGUARD is designed, and packed in the UK"
}
reviews: [
  {
    quote: "",
    cite:
  }
]
---

{% extends "default.html" %}

{% block icons %}
  {% include "icons-products.nunjucks" %}
{% endblock %}

{% block content %}

  <article class="c-productMain">

    <div class="o-container">

      {% include "product-overview.nunjucks" %}

    </div><!-- !END div.o-grid -->

    <div class="c-tabs">

      <ul class="c-tabs__nav o-container">
        {% for item in tabsNav %}
        <li class="c-tabs__navItem">
          <a href="#{{ item.id }}" class="c-tabs__link {{ item.activeClass }}">{{ item.link }}</a>
        </li>
        {% endfor %}
      </ul>

      <div class="c-tabs__contentWrap">

        <div class="o-container">

          <div id="details" class="c-tabs__content is-active">
            {% include "details-neoguard.nunjucks" %}
          </div>
          <div id="fitting" class="c-tabs__content">
            {% include "fitting.nunjucks" %}
          </div>
          <div id="reviews" class="c-tabs__content">
            {% include "reviews.nunjucks" %}
          </div>

        </div>

      </div>

    </div>

  </article>

{% endblock %}
