---
title: RapidRacerProducts | NeoGuard
desc: "The NeoGuard is the original neoprene mudguard specifically designed to prevent mud and spray from getting in your face and eyes, it’s available in 4 sizes to fit all fork travels"
ogUrl: /products/mudguards/neoguard.html
ogImg: /img/products/mudguards/neoguard/gallery/1.png
pageId: js-product
pageClass: c-productPage
pageCss: product
productName: NeoGuard
productUrl: mudguards/neoguard
uk: false
productOverview: [
  "Our NeoGuard is the original neoprene mudguard specifically designed to prevent mud and spray from getting in your face and eyes, it's much copied but still the best. Traditional mudguards are fragile and can hold on to pounds of unwanted mud affecting your riding performance and slowing you down. The NeoGuard throws the mud off every time the fork compresses keeping your bike light and agile."
]
productSizes: {
  title: Available in 4 sizes,
  sizes: [
    {
      size: "Extra small:",
      details: from 80mm to 130mm,
      weight: 18g
    },
    {
      size: "Small:",
      details: from 120mm to 150mm,
      weight: 20g
    },
    {
      size: "Medium:",
      details: from 160mm to 180mm,
      weight: 21g
    },
    {
      size: "Large:",
      details: from 180mm to 200mm,
      weight: 25g
    }
  ]
}
productColours: {
  title: Designs available,
  colours: [
    {
      colour: evil-eyes,
      imageUrl: mudguards/neoguard/gallery/evil-eyes.png,
      imageAlt: NeoGuard - Evil eyes,
      id: evil-eyes
    },
    {
      colour: standard,
      imageUrl: mudguards/neoguard/gallery/standard.png,
      imageAlt: NeoGuard - Standard,
      id: standard
    }
  ]
}
productImages: [
  {
    imageUrl: mudguards/neoguard/gallery/1,
    imageAlt: Neoguard,
    id: 1
  },
  {
    imageUrl: mudguards/neoguard/gallery/2,
    imageAlt: Neoguard,
    id: 2
  },
  {
    imageUrl: mudguards/neoguard/gallery/3,
    imageAlt: Neoguard,
    id: 3
  },
  {
    imageUrl: mudguards/neoguard/gallery/4,
    imageAlt: Neoguard,
    id: 4
  },
  {
    imageUrl: mudguards/neoguard/gallery/5,
    imageAlt: Neoguard,
    id: 5
  },
  {
    imageUrl: mudguards/neoguard/gallery/evil-eyes,
    imageAlt: Neoguard,
    id: evil-eyes
  },
  {
    imageUrl: mudguards/neoguard/gallery/standard,
    imageAlt: Neoguard,
    id: standard
  }
]
ukDistributor: [
  EXTRA UK
]
tabsNav: [
  {
    link: Details,
    id: details,
    activeClass: is-active
  },
  {
    link: Fitting,
    id: fitting
  },
  {
    link: Size guide,
    id: sizing
  },
  {
    link: Reviews,
    id: reviews
  }
]
fitting: {
  single: [
    {
      step: "Wrap the 2 velcro straps at the top of the NeoGuard over and then under the lower crown and pull back through the eyelets in the guard, only loosely attach them for now, this will help keep the guard out of the way whilst you attach the bottom straps.",
      images: [
        {
          imgUrl: mudguards/neoguard/fitting/step-1.png,
          imgAlt: Image showing step 1 of fitting the neoguard
        }
      ]
    },
    {
      step: "Wrap the 3 velcro straps around the fork brace at the bottom starting with the middle one, always ensure you DO THEM UP NICE AND TIGHT.",
      images: [
        {
          imgUrl: mudguards/neoguard/fitting/step-2.png,
          imgAlt: Image showing step 2 of fitting the neoguard
        }
      ]
    },
    {
      step: "Pull the top straps to stretch the Neoguard, don't worry about stretching the eyelets as it's re-enforced eyelets are designed to stretch, once fitted it should be taught. The stretch reduces the gathering of the guard when the fork compresses. Finally, YOU MUST CUT OFF THE EXCESS VELCRO AFTER FITTING",
      images: [
        {
          imgUrl: mudguards/neoguard/fitting/step-3.png,
          imgAlt: Image showing step 3 of fitting the neoguard
        }
      ]
    }
  ],
  important: {
    single: [
      "You must ensure there is at least 15mm of tyre clearance and 10mm between the back of the guard and the downtube of the frame to ensure there is no interference when steering. This product should be fitted correctly following the instructions provided. Failure to do so may result in the product failing and potential harm to the rider and / or damage to other components. Should the product fail, RapidRacerProducts reserves the right to inspect the product and damage caused and take suitable action. The decision to replace a faulty NeoGuard rests with RapidRacerProducts. No responsibility will be accepted for any damaged caused by uplifts or neglect."
    ]
  }
}
printInstructionsUrl: fitting-NeoGuard
reviews: [
  {
    quote: "It fits in under a minute and it'll do far more justice to your posh rig than that manky old bit of inner tube",
    cite: Dirt
  },
  {
    quote: "The NeoGuard is a neoprene panel with velcro fastenings top and bottom to pull it taught, a neat alternative to a bodged inner tube",
    cite: MBUK performance rating 10 out of 10
  },
  {
    quote: "It stops spray from hitting you in the face which is a godsend when your racing. The best bit is when the fork compresses, it scrunches up the guard and loosens the mud. It's also lightweight and can go in the wash, a new an innovative take on mud protection",
    cite: mbr rating 9 out of 10
  },
  {
    quote: "RapidRacerProducts have come up with a slick solution to an age old problem",
    cite: What Magazine
  },
  {
    quote: "RRP's NeoGuard - Product of the year? How does it fit? dead easy it took me about 30 seconds, it took longer to get out of the packet. 5 hoop and loop straps hold it tight to the lower crown and the fork brace on the sliders... then ride, get it dirty and then chuck it in the washing machine with the rest of your kit. Genius!!",
    cite: descent-world.co.uk
  },
  {
    quote: "Rapid Racer launch new mudguard. Rapid Racer Products has launched a new mudguard that’s lightweight, which doubles up as an advertising banner for any company / brand or race team. The neoprene guard sheds clingy mud with compression of the suspension, thus staying light due to very little dirt retention.",
    cite: Bike Biz
  },
  {
    quote: "The NeoGuard works perfectly. The rapid racing crew run a tight ship on the race circuit and saw the need for a professional product to replace the pikey tube fix. Fitting takes a few seconds, we checked everyones goggles after a recent spray-ridden run at Cwmcarn and the unsurprising result is the NeoGuard fender' is a success, keeping goggles mostly splatter free as intended. It's a very well executed solution, looks the part, and is a carefully developed product.",
    cite: Gravity-Slaves
  },
  {
    quote: "This ingenious piece of neoprene is soft, light and flexible and always in your toolbox. As a small bonus, it has plenty of room for sponsor logos for those head on photos where they are usually not visible.",
    cite: Transcend Magazine Canada
  }
]
---

{% extends "default.html" %}

{% block icons %}
  {% include "icons-products.nunjucks" %}
{% endblock %}

{% block content %}

  <article class="c-productMain">

    <div class="o-container">

      {% include "product-overview.nunjucks" %}

    </div><!-- !END div.o-grid -->

    <div class="c-tabs">

      <ul class="c-tabs__nav o-container">
        {% for item in tabsNav %}
        <li class="c-tabs__navItem">
          <a href="#{{ item.id }}" class="c-tabs__link {{ item.activeClass }}">{{ item.link }}</a>
        </li>
        {% endfor %}
      </ul>

      <div class="c-tabs__contentWrap">

        <div class="o-container">

          <div id="details" class="c-tabs__content is-active">
            {% include "details-neoguard.nunjucks" %}
          </div>
          <div id="fitting" class="c-tabs__content">
            {% include "fitting.nunjucks" %}
          </div>
          <div id="fitting" class="c-tabs__content">
            {% include "sizing-neoguard.nunjucks" %}
          </div>
          <div id="reviews" class="c-tabs__content">
            {% include "reviews.nunjucks" %}
          </div>

        </div>

      </div>

    </div>

  </article>

{% endblock %}
