---
title: RapidRacerProducts | ProGuard Front
desc: "The ProGuard is an amazing front mudguard for mountain bikes offering unmatched protection from mud and spray."
ogUrl: /products/mudguards/proguard-front.html
ogImg: /img/products/mudguards/proguard/front/gallery/1.png
pageId: js-product
pageClass: c-productPage
pageCss: product
productName: ProGuard Front - Cable Tie
productUrl: mudguards/proguard
productLogo: proguard
uk: true
productOverview:
  [
    "The ProGuard is our amazing new range of FRONT and REAR mudguards for disc brake mountain bikes offering unmatched protection from mud and spray, it’s perfect for Trail, Enduro or Downhill racers and essential for the weekend warrior looking for the very best protection. Our design intent was to increase the tyre clearance, improve fit, and reduce the mud clogging issues seen with this type of mudguard. The MINI offers a very compact design for all year round protection, The STANDARD offers superb protection in a shorter more compact design, whereas the longer MAX PROTECTION version (21mm longer at front than the STANDARD and 68mm longer at the rear) offers incredible unmatched levels of protection.",
  ]
productSizes:
  {
    titleMain: Available in 3 sizes,
    subTitle1: Front,
    sizes1:
      [
        { size: "Mini", weight: 386mm long 85g (without cable ties) },
        { size: "Standard", weight: 494mm long 119g (without cable ties) },
        { size: "Max Protection", weight: 582mm long 133g (without cable ties) },
      ],
  }
productColours:
  {
    title: Options available,
    colours:
      [
        {
          title: MINI,
          colour: black,
          imageUrl: mudguards/proguard/front/gallery/mini/front.png,
          imageAlt: ProGuard in black,
          id: mini-front,
        },
        {
          title: STD,
          colour: black,
          imageUrl: mudguards/proguard/front/gallery/std/front.png,
          imageAlt: ProGuard in black,
          id: std-front,
        },
        {
          title: MAX,
          colour: black,
          imageUrl: mudguards/proguard/front/gallery/max/front.png,
          imageAlt: ProGuard in black,
          id: max-front,
        },
      ],
  }
productImages:
  [
    {
      imageUrl: mudguards/proguard/front/gallery/mini/front,
      imageAlt: ProGuard,
      id: mini-front,
    },
    {
      videoUrl: mudguards/proguard/front/gallery/mini/360_spin,
      videoImageUrl: mudguards/proguard/front/gallery/std/front,
      id: vid-mini-front,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/mini/back,
      imageAlt: ProGuard,
      id: mini-back,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/mini/close,
      imageAlt: ProGuard,
      id: mini-close-up,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/mini/side,
      imageAlt: ProGuard,
      id: mini-side,
    },
    {
      videoUrl: mudguards/proguard/front/gallery/std/360_spin,
      videoImageUrl: mudguards/proguard/front/gallery/std/front,
      id: vid-std-front,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/std/front,
      imageAlt: ProGuard,
      id: std-front,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/std/back,
      imageAlt: ProGuard,
      id: std-back,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/std/close,
      imageAlt: ProGuard,
      id: std-close-up,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/std/side,
      imageAlt: ProGuard,
      id: std-side,
    },
    {
      videoUrl: mudguards/proguard/front/gallery/max/360_spin,
      videoImageUrl: mudguards/proguard/front/gallery/max/front,
      id: vid-max-front,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/max/front,
      imageAlt: ProGuard,
      id: max-front,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/max/back,
      imageAlt: ProGuard,
      id: max-back,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/max/close,
      imageAlt: ProGuard,
      id: max-close,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/max/side,
      imageAlt: ProGuard,
      id: max-close-up,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/vorova/1,
      imageAlt: Vorova,
      id: vorova-1,
      link: "https://vorova.com/partners/rrp/",
    },
    {
      imageUrl: mudguards/proguard/front/gallery/vorova/2,
      imageAlt: Vorova,
      id: vorova-2,
      link: "https://vorova.com/partners/rrp/",
    },
    {
      imageUrl: mudguards/proguard/front/gallery/vorova/3,
      imageAlt: Vorova,
      id: vorova-3,
      link: "https://vorova.com/partners/rrp/",
    },
    {
      imageUrl: mudguards/proguard/front/gallery/vorova/1,
      imageAlt: Vorova,
      id: vorova-4,
      link: "https://vorova.com/partners/rrp/",
    },
    {
      imageUrl: mudguards/proguard/front/gallery/photos/1,
      imageAlt: ProGuard,
      id: photo-1,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/photos/2,
      imageAlt: ProGuard,
      id: photo-2,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/photos/3,
      imageAlt: ProGuard,
      id: photo-3,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/other/crash-replacement,
      imageAlt: ProGuard Crash replacement,
      id: crash-replacement,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/colours/sticker-white,
      imageAlt: ProGuard,
      id: sticker-white,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/colours/sticker-yellow,
      imageAlt: ProGuard,
      id: sticker-yellow,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/colours/sticker-orange,
      imageAlt: ProGuard,
      id: sticker-orange,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/colours/sticker-red,
      imageAlt: ProGuard,
      id: sticker-red,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/colours/sticker-magenta,
      imageAlt: ProGuard,
      id: sticker-magenta,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/colours/sticker-green,
      imageAlt: ProGuard,
      id: sticker-green,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/colours/sticker-neongreen,
      imageAlt: ProGuard,
      id: sticker-neongreen,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/colours/sticker-turquiose,
      imageAlt: ProGuard,
      id: sticker-turquiose,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/colours/sticker-cyan,
      imageAlt: ProGuard,
      id: sticker-cyan,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/colours/sticker-blue,
      imageAlt: ProGuard,
      id: sticker-blue,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/colours/sticker-purple,
      imageAlt: ProGuard,
      id: sticker-purple,
    },
  ]
productVideos:
  [
    {
      name: "ProGuard",
      url: "9LEonw0iBos",
      img: mudguards/proguard/front/video/1,
      imgAlt: Video link,
    },
    {
      name: "Front ProGuard Water Flow",
      url: "teviH_Pj58U",
      img: mudguards/proguard/front/video/2,
      imgAlt: Video link,
    },
    {
      name: "How to fit sticker set – ProGuard front mudguard",
      url: "uIZ3Umcv_Rc",
      img: mudguards/proguard/front/video/4,
      imgAlt: Video link,
    },
    {
      name: "Sticker adhesive TEST TO DESTRUCTION",
      url: "jUZt__n3ce8",
      img: mudguards/proguard/front/video/3,
      imgAlt: Video link,
    },
    {
      name: "Post race faces",
      url: "c1ASQyjg3R0",
      img: mudguards/proguard/front/video/5,
      imgAlt: Video link,
    },
    {
      name: "Fitting the ProGuard Bolt on v1",
      url: "hNPCEWWgQNM",
      img: mudguards/proguard/front/video/6,
      imgAlt: Video link,
    },
    {
      name: "Fitting the ProGuard Cable Tie",
      url: "NPSDwnFaSNg",
      img: mudguards/proguard/front/video/7,
      imgAlt: Video link,
    },
    {
      name: "How To Fit An RRP Rear Proguard",
      url: "pTNa1RBGuFc",
      img: mudguards/proguard/front/video/8,
      imgAlt: Video link,
    },
  ]
fittingVideos:
  [
    {
      name: "Fitting the ProGuard Bolt on v1",
      url: "hNPCEWWgQNM",
      img: mudguards/proguard/front/video/6,
      imgAlt: Video link,
    },
    {
      name: "Fitting the ProGuard Cable Tie",
      url: "NPSDwnFaSNg",
      img: mudguards/proguard/front/video/7,
      imgAlt: Video link,
    },
    {
      name: "How To Fit An RRP Rear Proguard",
      url: "pTNa1RBGuFc",
      img: mudguards/proguard/front/video/8,
      imgAlt: Video link,
    },
  ]
compatibilityTop: {
  wheels: "26” 27.5” 29”",
  tyres: "up to a 3” tyre",
  forks: "Most forks (except reverse arch)",
  travel: "Any travel"
}
dreamBuildLink: "https://youtu.be/qxuDDBj2_wE"
ukDistributor: [EXTRA UK]
tabsNav:
  [
    { link: Details, id: details, activeClass: is-active },
    { link: Fitting, id: fitting },
    { link: Reviews, id: reviews },
  ]
fitting:
  {
    images:
      {
        front:
          {
            imgUrl: mudguards/proguard/front/fitting/front.jpg,
            imgAlt: Image showing front mudguard fitted,
          },
        rear:
          {
            imgUrl: mudguards/proguard/front/fitting/rear.jpg,
            imgAlt: Image showing rear mudguard fitted,
          },
      },
    front:
      [
        {
          step: Slide the guard into position with the wheel in,
          you may need to squeeze the sides of the guard as you do so to get it through the fork brace,
        },
        {
          step: Hold the guard in position making sure it tracks the tyres equally both ends,
        },
        {
          step: You can now see which holes you need for the most secure fit to your fork brace,
        },
        {
          step: Remove guard and push out / snap-off these holes,
          then feed cable ties through the same holes (from front to rear) plus 2 sets on the arms (total 6 cable ties),
          images:
            [
              {
                imgUrl: mudguards/proguard/front/fitting/front-1.png,
                imgAlt: Image showing how to fit ties into holes of the ProGuard,
              },
              {
                imgUrl: mudguards/proguard/front/fitting/front-2.png,
                imgAlt: Image showing how to fit ties into holes of the ProGuard,
              },
            ],
        },
        {
          step: "NOTE: Add clear tape to areas the guard contacts the fork to reduce scratches",
        },
        { step: "Tighten cable ties lightly, stand back and check alignment" },
        {
          step: You can still grab the arms around the fork legs and twist them to raise/lower the back or front of the guard for final adjustment if needed,
        },
        {
          step: Once happy you must tighten the cable ties with fat pliers as tight as possible (remember cable ties don’t’ scratch forks….loose cable ties do!),
        },
        { step: Cut off excess cable ties },
        {
          step: "Before use, ensure the guard doesn't hit the frame when bottoming the fork",
        },
      ],
    important:
      {
        multiple:
          [
            "Zip ties must be tight to prevent movement.",
            "Must be a minimum of 15mm tyre & 10mm frame clearance on bottoming",
            "RECOMENDED: Use clear protective tape on areas that the guard contacts the fork to eliminate any rub marks or scratches",
            "DO NOT USE IN STICKY / CLAGGY MUD AS IT MAY BLOCK AND CAUSE INJURY OR DAMAGE",
            "RapidRacerProducts Ltd accepts no liability for any damage / injury caused due to improper fitting / use of our products",
            "RapidRacerProducts Ltd, Parkfields Business Centre, Park Street, Stafford, ST17 4AL, United Kingdom",
            "Suitable for disc only mountain bikes",
          ],
      },
  }
reviews:
  [
    {
      quote: "The Rapid Racer Products ProGuard Max Protection is the TEST WINNER",
      cite: "Mbr Magazine (Feb 2020)",
    },
    {
      quote: "The best mountain bike mudguard currently available on the market is the RRP ProGuard Max Protection",
      cite: "Mbr Magazine (Feb 2020)",
    },
    {
      quote: "If you want the full-factory look the RRP ProGuard BOLT ON is the slickest, sexiest mudguard on the market! Affordable and high performance, it’s a top drawer mudguard",
      cite: "Endurobike Magazine (Mar 2020)",
    },
    {
      quote: "Tom didn’t get any shit in his eyes all winter, no glasses, super wet, crazy muddy, nothing on face, it will protect you and your bike from the very worst of conditions",
      cite: "Enduro-mtb Magazine review",
      url: "https://enduro-mtb.com/en/rrp-proguard-review",
    },
    {
      quote: "You’ll be treated to a lesson in mud guarding, it offers fantastic protection to the downtube keeping your face clear of grime, the ProGuard is a winter winner",
      cite: "IMBike Magazine review",
      url: "https://www.imbikemag.com/reviews/components/mudguards/rapid-racer-products-proguard-max-protection-2018",
    },
    {
      quote: "No goggles no problem",
      cite: Glyn O’Brien,
      vidLink:
        {
          url: "kVfbFr5QQvU",
          name: "Check out Glyn O’Brien’s short mudguard test",
          img: "mudguards/proguard/front/video/review-1",
        },
    },
    {
      quote: "The reduced mud in your face was so noticeable we headed for the biggest puddles we could find to get mud in our face to no avail. Does EVERYTHING it claims to do. Majorly impressed",
      cite: Pinned TV,
      vidLink:
        {
          url: "4MEwZd2aj58",
          name: "Check out Pinned TV’s video review",
          img: "mudguards/proguard/front/video/review-2",
        },
    },
    {
      quote: "Can honestly say this mudguard is bloody awesome!",
      cite: Tim Ponting,
    },
    {
      quote: "Props to British company rapidracerproducts they have created an awesome new front fender",
      cite: rogue_mtb,
    },
  ]
---

{% extends "default.html" %} {% block icons %} {% include
"icons-products.nunjucks" %} {% endblock %} {% block content %}

<article class="c-productMain">
  <div class="o-container">{% include "product-overview.nunjucks" %}</div>
  <!-- !END div.o-grid -->

  <div class="c-tabs">
    <ul class="c-tabs__nav o-container">
      {% for item in tabsNav %}
      <li class="c-tabs__navItem">
        <a href="#{{ item.id }}" class="c-tabs__link {{ item.activeClass }}"
          >{{ item.link }}</a
        >
      </li>
      {% endfor %}
    </ul>

    <div class="c-tabs__contentWrap">
      <div class="o-container">
        <div id="details" class="c-tabs__content is-active">
          {% include "details-proguard-front.nunjucks" %}
        </div>
        <div id="fitting" class="c-tabs__content">
          {% include "fitting.nunjucks" %}
        </div>
        <div id="reviews" class="c-tabs__content">
          {% include "reviews.nunjucks" %}
        </div>
      </div>
    </div>
  </div>
</article>

{% include "modal.nunjucks" %} {% endblock %}
