---
title: RapidRacerProducts | ProGuard BOLT ON
desc: "The ProGuard is an amazing front mudguard for mountain bikes offering unmatched protection from mud and spray."
ogUrl: /products/mudguards/proguard-front-bolt-on.html
ogImg: /img/products/mudguards/proguard-bolt-on/gallery/1.png
pageId: js-product
pageClass: c-productPage
pageCss: product
productName: "ProGuard Front - BOLT ON v2"
productLogo: "proguard-bolt-on"
productUrl: mudguards/proguard-bolt-on
uk: true
productCompatability: true
altVersion: {
  version: 'v1',
  link: '/products/mudguards/proguard-bolt-on-v1.html'
}
productOverview:
  [
    "The ProGuard – BOLT ON is the first large direct mount mudguard of its type, it offers outstanding protection with the slickest most factory look available. There are no cable ties or hook and loop straps to ruin the clean lines on your bike as they are secured by bolts (supplied). We also have TILT BRACKETS which allow you to fine tune the fit angle of the mudguard, you can tilt the front/back up or down a few millimetres with 2 brackets (supplied).",
  ]
productSizes:
  {
    titleMain: Bolt On v2 - Available in 3 sizes,
    sizes1:
      [
        { size: "Mini", weight: 389mm long 94g (without bolts) },
        { size: "Standard", weight: 503mm long 121g (without bolts) },
        { size: "Max Protection", weight: 600mm long 137g (without bolts) },
      ],
  }
productOptions:
  {
    title: Options Available,
    list: [
      {
        title: Mini v2,
        imageUrl: mudguards/proguard-bolt-on/gallery/v2/v2-mini.png,
        imageAlt: ProGuard Bolt On Mini v2,
        id: v2mini,
      },
      {
        title: Standard v2,
        imageUrl: mudguards/proguard-bolt-on/gallery/v2/v2-standard.png,
        imageAlt: ProGuard Bolt On standard v2,
        id: v2standard,
      },
      {
        title: Max Protection v2,
        imageUrl: mudguards/proguard-bolt-on/gallery/v2/v2-max-protection.png,
        imageAlt: ProGuard Bolt On Max Protection v2,
        id: v2maxprotection,
      },
    ]
  }
productImages:
  [
    {
      imageUrl: mudguards/proguard-bolt-on/gallery/v2/1,
      imageAlt: ProGuard,
      id: v2-all,
    },
    {
      imageUrl: mudguards/proguard-bolt-on/gallery/v2/v2-mini,
      imageAlt: ProGuard,
      id: v2mini,
    },
    {
      imageUrl: mudguards/proguard-bolt-on/gallery/v2/v2-standard,
      imageAlt: ProGuard,
      id: v2standard,
    },
    {
      imageUrl: mudguards/proguard-bolt-on/gallery/v2/v2-max-protection,
      imageAlt: ProGuard,
      id: v2maxprotection,
    },
    {
      imageUrl: mudguards/proguard-bolt-on/gallery/v2/2,
      imageAlt: ProGuard,
      id: ext-era-xfusion-trace,
    },
    {
      imageUrl: mudguards/proguard-bolt-on/gallery/v2/3,
      imageAlt: ProGuard,
      id: f34-step-cast,
    },
    {
      imageUrl: mudguards/proguard-bolt-on/gallery/v2/4,
      imageAlt: ProGuard,
      id: fox-34-non-step-cast,
    },
    {
      imageUrl: mudguards/proguard-bolt-on/gallery/v2/5,
      imageAlt: ProGuard,
      id: ohlins-rxf38,
    },
    {
      imageUrl: mudguards/proguard-bolt-on/gallery/v2/6,
      imageAlt: ProGuard,
      id: lyrik-pike,
    },
    {
      imageUrl: mudguards/proguard-bolt-on/gallery/v2/7,
      imageAlt: ProGuard,
      id: zeb-domain,
    },
    {
      imageUrl: mudguards/proguard-bolt-on/gallery/v2/8,
      imageAlt: ProGuard,
      id: zeb-adapter,
    }
  ]
productVideos:
  [
    {
      name: "ProGuard",
      url: "9LEonw0iBos",
      img: mudguards/proguard/front/video/1,
      imgAlt: Video link,
    },
    {
      name: "Front ProGuard Water Flow",
      url: "teviH_Pj58U",
      img: mudguards/proguard/front/video/2,
      imgAlt: Video link,
    },
    {
      name: "Sticker adhesive TEST TO DESTRUCTION",
      url: "jUZt__n3ce8",
      img: mudguards/proguard/front/video/3,
      imgAlt: Video link,
    },
    {
      name: "Post race faces",
      url: "c1ASQyjg3R0",
      img: mudguards/proguard/front/video/5,
      imgAlt: Video link,
    },
    {
      name: "Fitting the ProGuard Bolt on v1",
      url: "hNPCEWWgQNM",
      img: mudguards/proguard/front/video/6,
      imgAlt: Video link,
    },
  ]
fittingVideos:
  [
    {
      name: "Fitting the ProGuard Bolt on v1",
      url: "hNPCEWWgQNM",
      img: mudguards/proguard/front/video/6,
      imgAlt: Video link,
    },
    {
      name: "Fitting the ProGuard Cable Tie",
      url: "NPSDwnFaSNg",
      img: mudguards/proguard/front/video/7,
      imgAlt: Video link,
    },
  ]
dreamBuildLink: "https://youtu.be/qxuDDBj2_wE"
ukDistributor: [EXTRA UK]
tabsNav:
  [
    { link: Details, id: details, activeClass: is-active },
    { link: Fitting, id: fitting },
    { link: Reviews, id: reviews },
  ]
reviews:
  [
    {
      quote: "The Mucky Nutz, Mudhugger and RRP guards were hard to seperate, all doing an impeccable job and offering superb value. In the end, we loved the RRP ProGuard BOLT ON version If you want the full-factory look, if you have compatible forks, the RRP ProGuard BOLT ON is the sexiest mudguard on the market! Affordable and high performance, it’s a top drawer mudguard",
      cite: "Enduro-mtb (2020)",
      url: "https://enduro-mtb.com/en/the-best-mtb-mudguard-review/",
    },
    {
      quote:
        "The RRP ProGuard Bolt On is one of those products that’s hard to believe no one thought of before. So long zip-ties,
        rubber bands and hook and loop straps. RRP has taken its excellent ProGuard and added a mount that’ll attach to certain fork
        braces via a couple of bolts, transforming it into a neat, waste-free and easily removable guard in one fell swoopWe
        like it because it could be the easiest and quickest oversized mudguard out there to fit or remove. Rejoice all ye who
        transport their bike in the boot of their car and have to lay it flat, as this has been bending and deforming mudguards
        for years. Remove the bolts and keep your guard straight for easy portage, or quickly adapt to changing trail conditions
        pre-ride",
      cite: "mbr (Jan 2020)",
      url: "https://www.mbr.co.uk/news/rrp-proguard-bolt-on-394251",
    },
    {
      quote: "It's a beast of a fender capable of keeping water and muck away from your face in the most hideous conditions. Both fenders have worked sensationally. This is another one of those, “why didn’t they think of that sooner” scenarios",
      cite: "NSMB.com (Jun 2020)",
      url: "https://nsmb.com/articles/rrp-proguard-bolt-fender-review/",
    },
  ]
---

{% extends "default.html" %} {% block icons %} {% include
"icons-products.nunjucks" %} {% endblock %} {% block content %}

<article class="c-productMain">
  <div class="o-container">{% include "product-overview.nunjucks" %}</div>
  <!-- !END div.o-grid -->

  <div class="c-tabs">
    <ul class="c-tabs__nav o-container">
      {% for item in tabsNav %}
      <li class="c-tabs__navItem">
        <a href="#{{ item.id }}" class="c-tabs__link {{ item.activeClass }}"
          >{{ item.link }}</a
        >
      </li>
      {% endfor %}
    </ul>

    <div class="c-tabs__contentWrap">
      <div class="o-container">
        <div id="details" class="c-tabs__content is-active">
          
          {% from "details-proguard-bolt-on.nunjucks" import ProGuardBoltOn %}
          {{ ProGuardBoltOn(2) }}

          {% include "made-in-uk.nunjucks" %}
        </div>
        <div id="fitting" class="c-tabs__content">
          {% include "fitting-proguard-bolt-on.nunjucks" %}
        </div>
        <div id="reviews" class="c-tabs__content">
          {% include "reviews.nunjucks" %}
        </div>
      </div>
    </div>
  </div>
</article>

{% include "modal.nunjucks" %} {% endblock %}
