---
title: RapidRacerProducts | ProGuard
desc: "The ProGuard is an amazing front mudguard for mountain bikes offering unmatched protection from mud and spray."
ogUrl: /products/mudguards/proguard.html
ogImg: /img/products/mudguards/proguard/gallery/1.png
pageId: js-product
pageClass: c-productPage
pageCss: product
productName: ProGuard
productUrl: mudguards/proguard
uk: true
productOverview: [
  "The ProGuard is an amazing front mudguard for mountain bikes offering unmatched protection from mud and spray, it’s perfect for Enduro or Downhill racers and essential for the weekend warrior looking for the very best protection. Our design intent was to increase the tyre clearance and improve the mud clogging issues seen with this type of mudguard. The STANDARD offers superb protection in a more lightweight compact design, whereas the longer MAX PROTECTION version (70mm longer at the rear) offers incredible levels of protection especially for high speed racing."
]
productSizes: {
  title: Available in 2 sizes,
  sizes: [
    {
      size: "Standard:",
      weight: 114g
    },
    {
      size: "Max Protection:",
      weight: 127g
    }
  ]
}
productColours: {
  title: Colours available,
  colours: [
    {
      colour: black,
      imageUrl: mudguards/proguard/gallery/black.png,
      imageAlt: ProGuard in black
    },
    {
      colour: white,
      imageUrl: mudguards/proguard/gallery/white.png,
      imageAlt: ProGuard in white
    },
    {
      colour: cyan,
      imageUrl: mudguards/proguard/gallery/cyan.png,
      imageAlt: ProGuard in cyan
    },
    {
      colour: yellow,
      imageUrl: mudguards/proguard/gallery/yellow.png,
      imageAlt: ProGuard in yellow
    },
    
    {
      colour: orange,
      imageUrl: mudguards/proguard/gallery/orange.png,
      imageAlt: ProGuard in turquoise
    },
    {
      colour: red,
      imageUrl: mudguards/proguard/gallery/red.png,
      imageAlt: ProGuard in red
    },
    {
      colour: magenta,
      imageUrl: mudguards/proguard/gallery/magenta.png,
      imageAlt: ProGuard in magenta
    },
    {
      colour: green,
      imageUrl: mudguards/proguard/gallery/green.png,
      imageAlt: ProGuard in green
    },
    {
      colour: neon-green,
      imageUrl: mudguards/proguard/gallery/neon-green.png,
      imageAlt: ProGuard in neon green
    },
    {
      colour: turquiose,
      imageUrl: mudguards/proguard/gallery/turquiose.png,
      imageAlt: ProGuard in turquiose
    },
    {
      colour: blue,
      imageUrl: mudguards/proguard/gallery/blue.png,
      imageAlt: ProGuard in blue
    },
    {
      colour: purple,
      imageUrl: mudguards/proguard/gallery/purple.png,
      imageAlt: ProGuard in purple
    }
  ]
}
productImages: [
  {
    imageUrl: mudguards/proguard/gallery/black,
    imageAlt: ProGuard,
    id: black
  },
  {
    imageUrl: mudguards/proguard/gallery/rear-view,
    imageAlt: ProGuard,
    id: rear-view
  },
  {
    imageUrl: mudguards/proguard/gallery/white,
    imageAlt: ProGuard,
    id: white
  },
  {
    imageUrl: mudguards/proguard/gallery/yellow,
    imageAlt: ProGuard in yellow,
    id: yellow
  },
  {
    imageUrl: mudguards/proguard/gallery/orange,
    imageAlt: ProGuard in turquoise,
    id: orange
  },
  {
    imageUrl: mudguards/proguard/gallery/red,
    imageAlt: ProGuard in red,
    id: red
  },
  {
    imageUrl: mudguards/proguard/gallery/magenta,
    imageAlt: ProGuard in magenta,
    id: magenta
  },
  {
    imageUrl: mudguards/proguard/gallery/green,
    imageAlt: ProGuard in green,
    id: green,
  },
  {
    imageUrl: mudguards/proguard/gallery/neon-green,
    imageAlt: ProGuard in neon green,
    id: neon-green
  },
  {
    imageUrl: mudguards/proguard/gallery/turquiose,
    imageAlt: ProGuard in turquiose,
    id: turquiose
  },
  {
    imageUrl: mudguards/proguard/gallery/cyan,
    imageAlt: ProGuard,
    id: cyan
  },
  {
    imageUrl: mudguards/proguard/gallery/blue,
    imageAlt: ProGuard in blue,
    id: blue
  },
  {
    imageUrl: mudguards/proguard/gallery/purple,
    imageAlt: ProGuard in purple,
    id: purple
  },
  {
    imageUrl: mudguards/proguard/gallery/sticker-white,
    imageAlt: ProGuard,
    id: sticker-white
  },
  {
    imageUrl: mudguards/proguard/gallery/sticker-yellow,
    imageAlt: ProGuard,
    id: sticker-yellow
  },
  {
    imageUrl: mudguards/proguard/gallery/sticker-orange,
    imageAlt: ProGuard,
    id: sticker-orange
  },
  {
    imageUrl: mudguards/proguard/gallery/sticker-red,
    imageAlt: ProGuard,
    id: sticker-red
  },
  {
    imageUrl: mudguards/proguard/gallery/sticker-magenta,
    imageAlt: ProGuard,
    id: sticker-magenta
  },
  {
    imageUrl: mudguards/proguard/gallery/sticker-green,
    imageAlt: ProGuard,
    id: sticker-green
  },
  {
    imageUrl: mudguards/proguard/gallery/sticker-neongreen,
    imageAlt: ProGuard,
    id: sticker-neongreen
  },
  {
    imageUrl: mudguards/proguard/gallery/sticker-turquiose,
    imageAlt: ProGuard,
    id: sticker-turquiose
  },
  {
    imageUrl: mudguards/proguard/gallery/sticker-cyan,
    imageAlt: ProGuard,
    id: sticker-cyan
  },
  {
    imageUrl: mudguards/proguard/gallery/sticker-blue,
    imageAlt: ProGuard,
    id: sticker-blue
  },
  {
    imageUrl: mudguards/proguard/gallery/sticker-purple,
    imageAlt: ProGuard,
    id: sticker-purple
  }
]
ukDistributor: [
  EXTRA UK
]
tabsNav: [
  {
    link: Details,
    id: details,
    activeClass: is-active
  },
  {
    link: Fitting,
    id: fitting
  },
  {
    link: Reviews,
    id: reviews
  }
]
fitting: {
  single: [
    {
      step: Slide the guard into position with the wheel in, you may need to squeeze the sides of the guard as you do so to get it through the fork brace
    },
    {
      step: Hold the guard in position making sure it tracks the tyres equally both ends
    },
    {
      step: You can now see which holes you need for the most secure fit to your fork brace
    },
    {
      step: Remove guard and push out / snap-off these holes, then feed zip ties through the same holes (from front to rear) plus 2 sets on the arms (total 6 zip ties)
    },
    {
      step: "NOTE: Add clear tape to areas the guard contacts the fork to reduce scratches"
    },
    {
      step: Tighten zip ties lightly and check alignment, when happy tighten zip ties fully
    },
    {
      step: You can still grab the arms around the fork legs and twist them to raise/lower the back or front of the guard for final adjustment if needed
    },
    {
      step: Cut off excess zip ties
    },
    {
      step: "Before use, ensure the guard doesn't hit the frame when bottoming the fork"
    }
  ],
  important: {
    multiple: [
      "Zip ties must be tight to prevent movement.",
      "Must be a minimum of 15mm tyre & 10mm frame clearance on bottoming",
      "RECOMENDED: Use clear protective tape on areas that the guard contacts the fork to eliminate any rub marks or scratches",
      "DO NOT USE IN STICKY / CLAGGY MUD AS IT MAY BLOCK AND CAUSE INJURY OR DAMAGE",
      "RapidRacerProducts Ltd accepts no liability for any damage / injury caused due to improper fitting / use of our products",
      "RapidRacerProducts Ltd, Parkfields Business Centre, Park Street, Stafford, ST17 4AL, United Kingdom"
    ]
  }
}
---

{% extends "default.html" %}

{% block icons %}
  {% include "icons-products.nunjucks" %}
{% endblock %}

{% block content %}

  <article class="c-productMain">

    <div class="o-container">

      {% include "product-overview.nunjucks" %}

    </div><!-- !END div.o-grid -->

    <div class="c-tabs">

      <ul class="c-tabs__nav o-container">
        {% for item in tabsNav %}
        <li class="c-tabs__navItem">
          <a href="#{{ item.id }}" class="c-tabs__link {{ item.activeClass }}">{{ item.link }}</a>
        </li>
        {% endfor %}
      </ul>

      <div class="c-tabs__contentWrap">

        <div class="o-container">

          <div id="details" class="c-tabs__content is-active">
            {% include "details-proguard.nunjucks" %}
          </div>
          <div id="fitting" class="c-tabs__content">
            {% include "fitting.nunjucks" %}
          </div>
          <div id="reviews" class="c-tabs__content">
            <p>No reviews yes - New Product</p>
          </div>

        </div>

      </div>

    </div>

  </article>

{% endblock %}
