---
title: RapidRacerProducts | ProGuard BOLT ON
desc: "The ProGuard is an amazing front mudguard for mountain bikes offering unmatched protection from mud and spray."
ogUrl: /products/mudguards/proguard-front-bolt-on.html
ogImg: /img/products/mudguards/proguard-bolt-on/gallery/1.png
pageId: js-product
pageClass: c-productPage
pageCss: product
productName: "ProGuard Front - BOLT ON"
productLogo: "proguard-bolt-on"
productUrl: mudguards/proguard-bolt-on
uk: true
productCompatability: true
productOverview:
  [
    "The ProGuard – BOLT ON is the first large direct mount mudguard of its type, it offers outstanding protection with the slickest most factory look available. There are no cable ties or hook and loop straps to ruin the clean lines on your bike as they are secured by bolts (supplied). We also have TILT BRACKETS which allow you to fine tune the fit angle of the mudguard, you can tilt the front/back up or down a few millimetres with 2 brackets (supplied).",
  ]
productSizes:
  {
    titleMain: Available in 2 sizes,
    sizes1:
      [
        { size: "Mini", weight: 388mm long 104g (without bolts) },
        { size: "Standard", weight: 503mm long 130g (without bolts) },
      ],
  }
productPrices:
  [
    { product: Mini, price: £36.99 GBP },
    { product: Standard, price: £36.99 GBP },
    { product: Coloured Stickers, price: £5.99 GBP },
  ]
productColours:
  {
    title: Options Available,
    colours:
      [
        {
          title: Mini,
          imageUrl: mudguards/proguard-bolt-on/gallery/4.png,
          imageAlt: ProGuard Bolt On Mini,
          id: mini,
        },
        {
          title: Standard,
          imageUrl: mudguards/proguard-bolt-on/gallery/5.png,
          imageAlt: ProGuard Bolt On Standard,
          id: standard,
        },
      ],
  }
productImages:
  [
    {
      imageUrl: mudguards/proguard-bolt-on/gallery/1,
      imageAlt: ProGuard,
      id: main,
    },
    {
      imageUrl: mudguards/proguard-bolt-on/gallery/2,
      imageAlt: ProGuard,
      id: front,
    },
    {
      imageUrl: mudguards/proguard-bolt-on/gallery/3,
      imageAlt: ProGuard,
      id: rear,
    },
    {
      imageUrl: mudguards/proguard-bolt-on/gallery/4,
      imageAlt: ProGuard,
      id: mini,
    },
    {
      imageUrl: mudguards/proguard-bolt-on/gallery/5,
      imageAlt: ProGuard,
      id: standard,
    },
    {
      imageUrl: mudguards/proguard-bolt-on/gallery/6,
      imageAlt: ProGuard,
      id: bikes,
    },
    {
      imageUrl: mudguards/proguard-bolt-on/gallery/7,
      imageAlt: ProGuard,
      id: fox40-1,
    },
    {
      imageUrl: mudguards/proguard-bolt-on/gallery/8,
      imageAlt: ProGuard,
      id: fox40-2,
    },
    {
      imageUrl: mudguards/proguard-bolt-on/gallery/9,
      imageAlt: ProGuard,
      id: fox40-3,
    },
    {
      imageUrl: mudguards/proguard-bolt-on/gallery/10,
      imageAlt: ProGuard,
      id: fox40-4,
    },
    {
      imageUrl: mudguards/proguard-bolt-on/gallery/11,
      imageAlt: ProGuard,
      id: fox40-5,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/vorova/1,
      imageAlt: Vorova,
      id: vorova-1,
      link: "https://vorova.com/partners/rrp/",
    },
    {
      imageUrl: mudguards/proguard/front/gallery/vorova/2,
      imageAlt: Vorova,
      id: vorova-2,
      link: "https://vorova.com/partners/rrp/",
    },
    {
      imageUrl: mudguards/proguard/front/gallery/vorova/3,
      imageAlt: Vorova,
      id: vorova-3,
      link: "https://vorova.com/partners/rrp/",
    },
    {
      imageUrl: mudguards/proguard/front/gallery/vorova/4,
      imageAlt: Vorova,
      id: vorova-4,
      link: "https://vorova.com/partners/rrp/",
    },
    {
      imageUrl: mudguards/proguard/front/gallery/other/crash-replacement,
      imageAlt: ProGuard Crash replacement,
      id: crash-replacement,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/colours/sticker-white,
      imageAlt: ProGuard,
      id: sticker-white,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/colours/sticker-yellow,
      imageAlt: ProGuard,
      id: sticker-yellow,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/colours/sticker-orange,
      imageAlt: ProGuard,
      id: sticker-orange,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/colours/sticker-red,
      imageAlt: ProGuard,
      id: sticker-red,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/colours/sticker-magenta,
      imageAlt: ProGuard,
      id: sticker-magenta,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/colours/sticker-green,
      imageAlt: ProGuard,
      id: sticker-green,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/colours/sticker-neongreen,
      imageAlt: ProGuard,
      id: sticker-neongreen,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/colours/sticker-turquiose,
      imageAlt: ProGuard,
      id: sticker-turquiose,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/colours/sticker-cyan,
      imageAlt: ProGuard,
      id: sticker-cyan,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/colours/sticker-blue,
      imageAlt: ProGuard,
      id: sticker-blue,
    },
    {
      imageUrl: mudguards/proguard/front/gallery/colours/sticker-purple,
      imageAlt: ProGuard,
      id: sticker-purple,
    },
  ]
productVideos:
  [
    {
      name: "ProGuard",
      url: "9LEonw0iBos",
      img: mudguards/proguard/front/video/1,
      imgAlt: Video link,
    },
    {
      name: "Front ProGuard Water Flow",
      url: "teviH_Pj58U",
      img: mudguards/proguard/front/video/2,
      imgAlt: Video link,
    },
    {
      name: "How to fit sticker set – ProGuard front mudguard",
      url: "uIZ3Umcv_Rc",
      img: mudguards/proguard/front/video/4,
      imgAlt: Video link,
    },
    {
      name: "Sticker adhesive TEST TO DESTRUCTION",
      url: "jUZt__n3ce8",
      img: mudguards/proguard/front/video/3,
      imgAlt: Video link,
    },
    {
      name: "Post race faces",
      url: "c1ASQyjg3R0",
      img: mudguards/proguard/front/video/5,
      imgAlt: Video link,
    },
    {
      name: "Fitting the ProGuard Bolt on",
      url: "hNPCEWWgQNM",
      img: mudguards/proguard/front/video/6,
      imgAlt: Video link,
    },
    {
      name: "Fitting the ProGuard Cable Tie",
      url: "NPSDwnFaSNg",
      img: mudguards/proguard/front/video/7,
      imgAlt: Video link,
    },
    {
      name: "How To Fit An RRP Rear Proguard",
      url: "pTNa1RBGuFc",
      img: mudguards/proguard/front/video/8,
      imgAlt: Video link,
    },
  ]
fittingVideos:
  [
    {
      name: "Fitting the ProGuard Bolt on",
      url: "hNPCEWWgQNM",
      img: mudguards/proguard/front/video/6,
      imgAlt: Video link,
    },
    {
      name: "Fitting the ProGuard Cable Tie",
      url: "NPSDwnFaSNg",
      img: mudguards/proguard/front/video/7,
      imgAlt: Video link,
    },
  ]
dreamBuildLink: "https://youtu.be/qxuDDBj2_wE"
ukDistributor: [EXTRA UK]
tabsNav:
  [
    { link: Details, id: details, activeClass: is-active },
    { link: Fitting, id: fitting },
    { link: Reviews, id: reviews },
  ]
reviews:
  [
    {
      quote: "The Mucky Nutz, Mudhugger and RRP guards were hard to seperate, all doing an impeccable job and offering superb value. In the end, we loved the RRP ProGuard BOLT ON version If you want the full-factory look, if you have compatible forks, the RRP ProGuard BOLT ON is the sexiest mudguard on the market! Affordable and high performance, it’s a top drawer mudguard",
      cite: "Enduro-mtb (2020)",
      url: "https://enduro-mtb.com/en/the-best-mtb-mudguard-review/",
    },
    {
      quote:
        "The RRP ProGuard Bolt On is one of those products that’s hard to believe no one thought of before. So long zip-ties,
        rubber bands and hook and loop straps. RRP has taken its excellent ProGuard and added a mount that’ll attach to certain fork
        braces via a couple of bolts, transforming it into a neat, waste-free and easily removable guard in one fell swoopWe
        like it because it could be the easiest and quickest oversized mudguard out there to fit or remove. Rejoice all ye who
        transport their bike in the boot of their car and have to lay it flat, as this has been bending and deforming mudguards
        for years. Remove the bolts and keep your guard straight for easy portage, or quickly adapt to changing trail conditions
        pre-ride",
      cite: "mbr (Jan 2020)",
      url: "https://www.mbr.co.uk/news/rrp-proguard-bolt-on-394251",
    },
    {
      quote: "It's a beast of a fender capable of keeping water and muck away from your face in the most hideous conditions. Both fenders have worked sensationally. This is another one of those, “why didn’t they think of that sooner” scenarios",
      cite: "NSMB.com (Jun 2020)",
      url: "https://nsmb.com/articles/rrp-proguard-bolt-fender-review/",
    },
  ]
---

{% extends "default.html" %} {% block icons %} {% include
"icons-products.nunjucks" %} {% endblock %} {% block content %}

<article class="c-productMain">
  <div class="o-container">{% include "product-overview.nunjucks" %}</div>
  <!-- !END div.o-grid -->

  <div class="c-tabs">
    <ul class="c-tabs__nav o-container">
      {% for item in tabsNav %}
      <li class="c-tabs__navItem">
        <a href="#{{ item.id }}" class="c-tabs__link {{ item.activeClass }}"
          >{{ item.link }}</a
        >
      </li>
      {% endfor %}
    </ul>

    <div class="c-tabs__contentWrap">
      <div class="o-container">
        <div id="details" class="c-tabs__content is-active">
          {% include "details-proguard-bolt-on.nunjucks" %}
        </div>
        <div id="fitting" class="c-tabs__content">
          <h3 class="u-mb1">Fitting the ProGuard BOLT ON</h3>
          <ul class="c-productVideos">
            {% for video in fittingVideos %}
            <li class="c-productVideos_video">
              {% import "product-video.nunjucks" as vid %} {{
              vid.productVideo(video.url, video.name, video.img, video.imgAlt)
              }}
            </li>
            {% endfor %}
          </ul>
          <p>
            The ProGuard - BOLT ON is our direct mount front mountainbike
            mudguard designed for big spray and mud protection (DISC BRAKE ONLY)
          </p>
          <p></p>
          <h3 class="u-mb05">COMPATIBILITY</h3>
          <p>
            The ProGuard BOLT ON will fit most fork models listed below if they
            have the <span class="u-col-a">*</span>THREADED HOLES at the rear of
            the fork brace <span class="u-col-a">(DISK BRAKE ONLY)</span>:
          </p>
          <dl class="o-dlInline">
            <dt>WHEELS:</dt>
            <dd>26” 27.5” 29”</dd>
            <dt>TYRES:</dt>
            <dd>up to a 3” tyre</dd>
            <dt>BRAKE / OFFSET:</dt>
            <dd><strong>MINIMUM 44mm</strong></dd>
            <dt>HUB:</dt>
            <dd>STD & BOOST</dd>
            <dt>FORKS:</dt>
            <dd>
              <p class="u-mb05">
                Fits the forks listed below ONLY IF THEY HAVE THREADED HOLES in the rear of the fork brace:
              </p>
              <ul class="c-bullets">
                <li>
                  FOX 32, 34, 36, 38, <span class="u-col-a">*</span>40
                  (2021) 49
                </li>
                <li>NEW MARZOCCHI FORKS<span class="u-col-a">*</span> (FOX chassis)</li>
                <li>ROCKSHOX 35 FORKS (if there’s threaded holes)</li>
                <li>OHLINS FORKS</li>
                <li>SR SUNTOUR FORKS<span class="u-col-a">**</span></li>
              </ul>
            </dd>
          </dl>

          <p>
            <span class="u-col-a">*</span>2020 older FOX 40 in 26” or 27.5”
            needs our adapter bracket – fits 2021 versions
          </p>

          <p>
            <span class="u-col-a">**</span>Some SR SUNTOUR forks have an
            unthreaded straight through hole in the centre of the fork brace,
            you can purchase a SLEEVE PACK to allow the PROGUARD Bolt On to fit (sold separately)
          </p>

          <p>Check out the RRP Dream Build featuring our ProGuard Bolt On mudguards with custom decals <a href="{{dreamBuildLink}}" class="u-col-d">HERE</a></p>

          <h4 class="u-mb05">FITTING TO THE FRONT:</h4>

          <ol class="c-fitting">
            <li class="c-fitting__item">
              <p>
                IMPORTANT: You must apply the rubber adhesive side pads to the
                recess on the mudguard side wings, they protect your fork legs
                and provide vital stability and resonance damping
              </p>
              <img
                src="/img/products/mudguards/proguard-bolt-on/fitting/1.png"
                alt="Image showing how to apply the rubber adhesive side pads"
                class="c-fitting__img"
              />
            </li>
            <li class="c-fitting__item">
              Clean the fork threads and the fork legs MAKING SURE YOU DRY THE
              THREADS THOROUGHLY
            </li>
            <li class="c-fitting__item">
              <p class="u-mb05">
                Select the correct bolts for your fork (details below) and run
                these into the threads WITHOUT the mudguard which will 'PRIME'
                and clean the threads before fitting, this part is important
                <span class="u-col-a"
                  >(YOU MAY NEED TO RE-TAP THE THREADS IF DEBRIS / PAINT IS LEFT
                  IN THE THREADS FROM THE MANUFACTURE OF THE FORKS)</span
                >
              </p>
              <dl class="o-dlInline u-mb1">
                <dt>BOLTS:</dt>
                <dd>
                  FOX = M3 (2 bolts) | OHLINS = M4 (3 bolts) | SR SUNTOUR = M6
                  (<span class="u-col-a">*</span>1 bolt)
                </dd>
              </dl>
              <p>
                <span class="u-col-a">*</span>Some SR SUNTOUR forks have an
                unthreaded straight through hole in the centre of the fork
                brace, you can purchase a SLEEVE PACK to allow the PROGUARD BOLT
                ON to fit these forks (sold separately)
              </p>
            </li>
            <li class="c-fitting__item">
              Squeeze the side wings of the mudguard hard and slide under the
              fork brace from the rear with the wheel and tyre still in place
            </li>
            <li class="c-fitting__item">
              You should be able to locate the mudguard and let go as the rubber
              side pads should hold it in place (ensure the slots are centrally
              aligned to the threaded holes on your fork)
            </li>
            <li class="c-fitting__item">
              Use the Allen key provided to screw the bolts in EVENLY a bit each
              side, go gentle to start off to ensure you DON'T CROSS THREAD
              THEM, stop once it's pulled together so you can still move it
            </li>
            <li class="c-fitting__item">
              <p>
                Check alignment of the mudguard to ensure the distance from the
                tyre is even front and back, if you need to adjust the alignment
                then remove the mudguard and clip-on the appropriate TILT
                BRACKET found in the packaging (see example below). There are 2
                TILT BRACKETS, one raises the front of the mudguard up and the
                other lowers it down (written on the TILT BRACKET)
              </p>
              <img
                src="/img/products/mudguards/proguard-bolt-on/fitting/5.png"
                alt="Image showing how to apply the rubber adhesive side pads"
                class="c-fitting__img"
              />
            </li>
            <li class="c-fitting__item">
              You can also change the height of the mudguard by 6mm through the
              slots for more clearance. NOTE: Highest position offers the most
              stability with the best mud clearance
            </li>
            <li class="c-fitting__item">
              <p class="u-mb05">
                Finally tighten the bolts to the torque settings below:
              </p>
              <dl class="o-dlInline u-mb1">
                <dt>TORQUE SETTINGS:</dt>
                <dd>FOX, MARZOCCH & OHLINS = 1nm | SR SUNTOUR = 2nm</dd>
              </dl>
            </li>
          </ol>

          <p>
            NOTE: ONLY USE THE RRP SUPPLIED BOLTS AS THESE ARE SPECIFICALLY
            SELECTED OR DESIGNED FOR THE MUDGUARD - USING OTHER BOLTS MAY
            INVALIDATE WARRANTY - REPLACEMENT BOLTS PACKS ARE AVAILIBLE
          </p>

          <p>
            IMPORTANT - YOU MUST CHECK BOTTOM OUT CLEARANCE, LET MOST (BUT NOT
            ALL) OF THE AIR OUT OF YOUR FORK AND COMPRESS TO TEST IF THE CROWN
            OF THE FORK HITS THE MUDGUARD WHEN BOTTOMING. LOWER THE MUDGUARD
            THROUGH THE SLOTS IF YOU NEED MORE CLEARANCE, IF YOU CAN'T LOWER
            FURTHER THEN DO NOT USE
          </p>

          <dl class="o-dlInline u-mb1">
            <dt>WEIGHT:</dt>
            <dd>
              MINI 104g | STANDARD 130g - (WITHOUT BOLTS - WITH RUBBER PADS)
            </dd>
          </dl>

          <h4 class="u-col-a">Important</h4>

          <ul class="c-bullet u-mb1">
            <li>
              Bolts must be checked after each ride to ensure the mudguard is
              secure
            </li>
            <li>
              Remove mudguard every few rides to clean the brace / threads and
              fork legs
            </li>
            <li>
              DO NOT USE IN STICKY / CLAGGY MUD AS IT MAY BLOCK AND CAUSE INJURY
              OR DAMAGE
            </li>
            <li>
              MIN CLEARANCES - 18mm from the tyre when fitted and 10mm from the
              frame (on bottoming)
            </li>
            <li>
              INSPECT BEFORE YOU RIDE: DO NOT USE IF DAMAGED IN ANY WAY AS
              CONTINUED USE MAY LEAD TO FAILURE OR INJURY
            </li>
            <li>
              RapidRacerProducts Ltd accepts no liability for any damage or
              injury caused due to improper fitting or use of our products
            </li>
            <li>
              RapidRacerProducts Ltd, Parkfields Business Centre, Park Street,
              Stafford, ST17 4AL, United Kingdom
            </li>
          </ul>
        </div>
        <div id="reviews" class="c-tabs__content">
          {% include "reviews.nunjucks" %}
        </div>
      </div>
    </div>
  </div>
</article>

{% include "modal.nunjucks" %} {% endblock %}
