---
title: RapidRacerProducts | ProGuard
desc: "The ProGuard is an amazing front mudguard for mountain bikes offering unmatched protection from mud and spray."
ogUrl: /products/mudguards/proguard-front.html
ogImg: /img/products/mudguards/proguard/rear/gallery/1.png
pageId: js-product
pageClass: c-productPage
pageCss: product
productName: ProGuard Rear - Cable Tie
productUrl: mudguards/proguard
productLogo: proguard
uk: true
productOverview:
  [
    "The ProGuard is our amazing new range of FRONT and REAR mudguards for disc brake mountain bikes offering unmatched protection from mud and spray, it’s perfect for Trail, Enduro or Downhill racers and essential for the weekend warrior looking for the very best protection. The ProGuard REAR comes in 2 sizes: MINI and STANDARD and is made from super high impact recyclable polypropylene, the finish is matte black with gloss highlights for the logo’s and centreline.",
    "MINI",
    "The primary function of the MINI is to protect your shock, linkages, and bearings from getting hammered at high velocity from mud and spray off the back wheel, it is NOT designed to protect the rider. There are multiple fitting configurations via snap-off holes and wide holes on the arms that allow for angle adjustment for various seatstay configurations.",

    "EXTENDER",
    "The EXTENDER is designed to be added to the MINI above to extend the front to push the mud and spray down through the lower chainstay yoke, this will further protect your lower linkage bearings from getting hammered at high velocity from mud and spray off the back wheel.  Alternatively you can just use the STANDARD which does the same all in one product. The EXTENDER has had the thickness reduced to allow the user to cut and trim with a pair of sharp scissors to better fit their bike design with multiple fitting configurations via push-through holes.",

    "STANDARD",
    "The STANDARD does everything the MINI does but more, the rear of the STD mudguard is 83mm longer than the MINI to offer a little bit more protection to the seatpost area, and the front is 136mm longer to further protects your lower linkage bearings from getting hammered at high velocity from mud and spray off the back wheel (this mudguard is NOT designed to protect the rider). The front of the mudguard has had the thickness reduced to allow the user to cut and trim with a pair of sharp scissors to better fit their bike design. There are multiple fitting configurations via push- through holes and wide holes on the arms that allow for angle adjustment for various seatstay configurations."
  ]
productSizes:
  {
    titleMain: Available in 3 sizes,
    sizes1: [
      { size: "MINI", weight: 325mm long 67g (without cable ties) },
      { size: "STD", weight: 545mm long 100g (without cable ties) },
      { size: "EXTENDER", weight: 260mm long 24g (without cable ties) },
    ],
  }
mainDistributors: {
  title: 'MAIN DISTRIBUTORS ',
  distributors: [ 
    { country: "UK", distributor: 'EXTRA UK' },
    { country: "FRANCE", distributor: 'TRIBE SPORT GROUP' },
    { country: "NORWAY", distributor: 'DELER AS' },
    { country: "REST OF EU", distributor: 'NOW COMPANY' },
    { country: "USA AND CANADA", distributor: 'RECIPROCATORS' },
  ],
}
productImages:
  [
    {
      imageUrl: mudguards/proguard/rear/gallery/all/1,
      imageAlt: ProGuard,
      id: 1,
    }, 
    {
      imageUrl: mudguards/proguard/rear/gallery/all/2,
      imageAlt: ProGuard,
      id: 2,
    }, 
    {
      imageUrl: mudguards/proguard/rear/gallery/all/3,
      imageAlt: ProGuard,
      id: 3,
    }, 
    {
      imageUrl: mudguards/proguard/rear/gallery/all/4,
      imageAlt: ProGuard,
      id: 4,
    },
    {
      imageUrl: mudguards/proguard/rear/gallery/all/5,
      imageAlt: ProGuard,
      id: 5,
    },
    {
      imageUrl: mudguards/proguard/rear/gallery/all/6,
      imageAlt: ProGuard,
      id: 6,
    },
    {
      imageUrl: mudguards/proguard/rear/gallery/all/7,
      imageAlt: ProGuard,
      id: 7,
    },
    {
      imageUrl: mudguards/proguard/rear/gallery/all/8,
      imageAlt: ProGuard,
      id: 8,
    },
    {
      imageUrl: mudguards/proguard/rear/gallery/all/9,
      imageAlt: ProGuard,
      id: 9,
    },
    {
      imageUrl: mudguards/proguard/rear/gallery/all/10,
      imageAlt: ProGuard,
      id: 10,
    },
    {
      imageUrl: mudguards/proguard/rear/gallery/all/11,
      imageAlt: ProGuard,
      id: 11,
    },
  ]
productVideos:
  [
    {
      name: "How to fit sticker set – ProGuard front mudguard",
      url: "uIZ3Umcv_Rc",
      img: mudguards/proguard/rear/video/4,
      imgAlt: Video link,
    },
    {
      name: "Sticker adhesive TEST TO DESTRUCTION",
      url: "jUZt__n3ce8",
      img: mudguards/proguard/rear/video/3,
      imgAlt: Video link,
    },
    {
      name: "How To Fit An RRP Rear Proguard",
      url: "pTNa1RBGuFc",
      img: mudguards/proguard/rear/video/8,
      imgAlt: Video link,
    },
  ]
fittingVideos:
  [
    {
      name: "How To Fit An RRP Rear Proguard",
      url: "pTNa1RBGuFc",
      img: mudguards/proguard/rear/video/8,
      imgAlt: Video link,
    },
  ]
dreamBuildLink: "https://youtu.be/qxuDDBj2_wE"
tabsNav:
  [
    { link: Details, id: details, activeClass: is-active },
    { link: Fitting, id: fitting },
    { link: Reviews, id: reviews },
  ]
fitting:
  {
    images:
      {
        rear:
          {
            imgUrl: mudguards/proguard/rear/fitting/rear.jpg,
            imgAlt: Image showing rear mudguard fitted,
          },
      },
    rear:
      [
        {
          step: "Slide the guard into position WITH THE WHEEL IN PLACE, you may need to squeeze the sides of the guard as you do so to get it through the sear stays",
        },
        {
          step: "Hold the guard in position making sure it tracks the tyre (equal gap both ends)",
        },
        {
          step: "You can now see which holes you will need for the most secure fit to the rear",
          important: "Important - If you have a brace between the seatstays - you must attach at least one cable tie to it if you don't have a brace between the seatstays - you must use 3 cable ties on each arm",
        },
        {
          step: "Remove guard and push out/snap-off any holes needed by putting the fornt of the guard onto the workbench, and using a thin sharp flathead screwdriver to push out the snap-off holes",
          important: "Important - The snap-off hole will break off fast so ensure thre is nothing underneath the guard that the screw driver can hit, failure to do so may lead to damage or harm",
        },
        {
          step: "Then feed cable ties through teh sames holes from the rear to the front (you must use min 5 cable ties to ensure the guard is secure)",
        },
        {
          step: "Add clear tape to all areas the guard contacts to frame to reduce scratches",
        },
        {
          step: "Pull up cable ties LIGHTLY to check alignment ensuring the head of the cable tie is at the botom/underneath the swingarm so it doesn't catch your legs whilst pedalling",
        },
        {
          step: "Once aligned USE PLIERS TO PULL UP VERY TIGHT, cut off excess cable ties",
        },
        {
          step: "Before use, ensure the guard doesn't hit the frame when bottoming the fork",
          images:
            [
              {
                imgUrl: mudguards/proguard/rear/fitting/rear-1.png,
                imgAlt: Image showing how to fit ties into holes of the ProGuard Rear,
              },
              {
                imgUrl: mudguards/proguard/rear/fitting/rear-2.png,
                imgAlt: Image showing how to fit ties into holes of the ProGuard Rear,
              },
            ],
        },
      ],
    important:
      {
        multiple:
          [
            "Zip ties must be tight to prevent movement.",
            "Must be a minimum of 15mm tyre & 10mm frame clearance on bottoming",
            "RECOMENDED: Use clear protective tape on areas that the guard contacts the fork to eliminate any rub marks or scratches",
            "DO NOT USE IN STICKY / CLAGGY MUD AS IT MAY BLOCK AND CAUSE INJURY OR DAMAGE",
            "RapidRacerProducts Ltd accepts no liability for any damage / injury caused due to improper fitting / use of our products",
            "RapidRacerProducts Ltd, Parkfields Business Centre, Park Street, Stafford, ST17 4AL, United Kingdom",
            "Suitable for disc only mountain bikes",
          ],
      },
  }
reviews:
  [
    {
      quote: "RRP Rear ProGuard Review",
      vidLink:
        {
          url: "FdBbzga-92I",
          name: "RRP Rear ProGuard Review",
          img: "mudguards/proguard/rear/video/review-3",
        },
    },
    {
      quote: "The Rapid Racer Products ProGuard Max Protection is the TEST WINNER",
      cite: "Mbr Magazine (Feb 2020)",
    },
    {
      quote: "The best mountain bike mudguard currently available on the market is the RRP ProGuard Max Protection",
      cite: "Mbr Magazine (Feb 2020)",
    },
    {
      quote: "If you want the full-factory look the RRP ProGuard BOLT ON is the slickest, sexiest mudguard on the market! Affordable and high performance, it’s a top drawer mudguard",
      cite: "Endurobike Magazine (Mar 2020)",
    },
    {
      quote: "Tom didn’t get any shit in his eyes all winter, no glasses, super wet, crazy muddy, nothing on face, it will protect you and your bike from the very worst of conditions",
      cite: "Enduro-mtb Magazine review",
      url: "https://enduro-mtb.com/en/rrp-proguard-review",
    },
    {
      quote: "You’ll be treated to a lesson in mud guarding, it offers fantastic protection to the downtube keeping your face clear of grime, the ProGuard is a winter winner",
      cite: "IMBike Magazine review",
      url: "https://www.imbikemag.com/reviews/components/mudguards/rapid-racer-products-proguard-max-protection-2018",
    },
    {
      quote: "No goggles no problem",
      cite: Glyn O’Brien,
      vidLink:
        {
          url: "kVfbFr5QQvU",
          name: "Check out Glyn O’Brien’s short mudguard test",
          img: "mudguards/proguard/rear/video/review-1",
        },
    },
    {
      quote: "The reduced mud in your face was so noticeable we headed for the biggest puddles we could find to get mud in our face to no avail. Does EVERYTHING it claims to do. Majorly impressed",
      cite: Pinned TV,
      vidLink:
        {
          url: "4MEwZd2aj58",
          name: "Check out Pinned TV’s video review",
          img: "mudguards/proguard/rear/video/review-2",
        },
    },
    {
      quote: "Can honestly say this mudguard is bloody awesome!",
      cite: Tim Ponting,
    },
    {
      quote: "Props to British company rapidracerproducts they have created an awesome new front fender",
      cite: rogue_mtb,
    },
  ]
---

{% extends "default.html" %} {% block icons %} {% include
"icons-products.nunjucks" %} {% endblock %} {% block content %}

<article class="c-productMain">
  <div class="o-container">{% include "product-overview.nunjucks" %}</div>
  <!-- !END div.o-grid -->

  <div class="c-tabs">
    <ul class="c-tabs__nav o-container">
      {% for item in tabsNav %}
      <li class="c-tabs__navItem">
        <a href="#{{ item.id }}" class="c-tabs__link {{ item.activeClass }}"
          >{{ item.link }}</a
        >
      </li>
      {% endfor %}
    </ul>

    <div class="c-tabs__contentWrap">
      <div class="o-container">
        <div id="details" class="c-tabs__content is-active">
          {% include "details-proguard-rear.nunjucks" %}
        </div>
        <div id="fitting" class="c-tabs__content">
          {% include "fitting.nunjucks" %}
        </div>
        <div id="reviews" class="c-tabs__content">
          {% include "reviews.nunjucks" %}
        </div>
      </div>
    </div>
  </div>
</article>

{% include "modal.nunjucks" %} {% endblock %}
