---
title: Proguard Bolt On
pageId: js-product
pageClass: c-productPage
pageCss: product
productName: ProGuard Front - Cable Tie
productUrl: mudguards/proguard
productLogo: "proguard-bolt-on"
uk: true
---

{% extends "default.html" %} {% block icons %} {% include
"icons-products.nunjucks" %} {% endblock %} {% block content %}

<article class="c-productMain">
    <div class="o-container">
        <h2 class="c-productMain__title">
            {% if productLogo %}
            <img src="/img/product-logos/{{ productLogo }}.png" alt="{{ productName }}">
            {% else %}
            <span>{{ productName }} {{ productNameAdditional }}</span>
            {% endif %}
        </h2>
        <div class="c-box c-box--white u-mb2">
            <p >The ProGuard – BOLT ON is the first large direct mount mudguard of its type, it offers outstanding protection with the slickest most factory look available. There are no cable ties or hook and loop straps to ruin the clean lines on your bike as they are secured by bolts.</p>

            <p>We offer 2 versions of the ProGuard Bolt On, click on the product below to view more details.</p>
            
            <div class="o-grid">

                <div class="o-grid__item u-1of1 u-bp20-1of2">
                    
                    <a href="/products/mudguards/proguard-bolt-on-v2.html" title="proguard bolt on v2">
                        <article class="c-product">
                            <h2 class="c-product__name"><span>ProGuard Bolt On v2</span></h2>
                            <img src="/img/products/mudguards/proguard-bolt-on/gallery/v2/v2.png" alt="Proguard Bolt on v2" class="c-product__img">
                        </article>
                    </a>

                </div>

                <div class="o-grid__item u-1of1 u-bp20-1of2">
                    
                    <a href="/products/mudguards/proguard-bolt-on-v1.html" title="proguard bolt on v1">
                        <article class="c-product">
                            <h2 class="c-product__name"><span>ProGuard Bolt On v1</span></h2>
                            <img src="/img/products/mudguards/proguard-bolt-on/gallery/v1/v1.png" alt="Proguard Bolt on v1" class="c-product__img">
                        </article>
                    </a>

                </div>

            </div>
        </div>
    </div>
</article>

{% endblock %}