<!doctype html>
<html lang="en" id="{{ pageId }}" class="no-js">

	<head>

		{% include "meta.nunjucks" %}

		{% include "css.nunjucks" %}

		{% include "js-head.nunjucks" %}

	</head>

	<body class="{{ pageClass }}">

    <!-- <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script> -->

		<svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<defs>
        {% include "icons-global.nunjucks" %}
  			{% block icons %}{% endblock %}
			</defs>
		</svg>

		{% include "site-header.nunjucks" %}

		<main class="c-main">
			{% block content %}{% endblock %}
		</main> <!-- !END main.l-main -->

		{% include "site-footer.nunjucks" %}

		{% include "js-foot.nunjucks" %}

	</body> <!-- !END body -->

</html>
