---
title: RapidRacerProducts | Distributors
desc: RapidRacerProducts – Mudguards and accessories for MTB, CX, & Road bikes
ogImg: /img/logo.png
pageId: js-distributors
pageClass: c-distributorsPage
pageCss: distributors
logoType: light
---
{% extends "default.html" %}

{% block content %}

<section class="o-container">

  <h2 class="c-pageTitle">
    Distributors
  </h2>

  <section class="c-distributorCountries">
    <label for="contries" class="c-distributorCountries__label">Select a country from the list below</label>
    <select id="countries" class="c-distributorCountries__options">
      <option selected disabled>Please choose</option>
      {% for country in distributors %}
        <option value="{{ country.country }}" class="c-distributorCountries__country">{{ country.country }}</option>
      {% endfor %}
    </select>
  </section>

  {% for distributor in distributors %}
  <section id="{{ distributor.country }}" class="c-distributorCountry">

    <h3 class="c-distributorCountry__title">{{ distributor.country }}</h3>

    {% for details in distributors[loop.index0].distributors %}
    <article class="c-distributorCompany">
      <h4 class="c-distributorCompany__name">{{ details.companyName }}</h4>

      {% if details.companyName == "NOW Company SPRL - Master EU distributor" %}
        <p>All distribution applications for EU countries via email address below</p>
      {% endif %}

      <div class="o-grid">
        <div class="o-grid__item u-1of1 u-bp20-3of5 u-mb1">
          <dl class="c-distributorDetails">
            <dt>Address:</dt>
            <dd>{{ details.address }}</dd>
          </dl>
        </div>
        <div class="o-grid__item u-1of1 u-bp20-2of5 c-distributorCompany__contacts">
          <dl class="c-distributorDetails">
            <dt>Tel:</dt>
            <dd>{{ details.tel }}</dd>
            {% if details.mob %}
              <dt>Mob:</dt>
              <dd>{{ details.mob }}</dd>
            {% endif %}
            {% if details.fax %}
              <dt>Fax:</dt>
              <dd>{{ details.fax }}</dd>
            {% endif %}
            {% if details.email %}
              <dt>Email:</dt>
              <dd><a href="mailto:{{details.email}}">{{ details.email }}</a></dd>
            {% endif %}
            {% if details.website %}
              <dt>Website:</dt>
              <dd><a href="http://{{ details.website }}">{{ details.website }}</a></dd>
            {% endif %}
            {% if details.b2b %}
              <dt>B2B:</dt>
              <dd><a href="http://{{ details.website }}">{{ details.website }}</a></dd>
            {% endif %}
            {% if details.facebook %}
              <dt>Facebook:</dt>
              <dd><a href="http://{{ details.facebook }}">{{ details.facebook }}</a></dd>
            {% endif %}
            {% if details.instagram %}
              <dt>Instagram</dt>
              <dd><a href="http://{{ details.instagram }}">{{ details.instagram }}</a></dd>
            {% endif %}
            {% if details.twitter %}
              <dt>Twitter</dt>
              <dd><a href="http://{{ details.twitter }}">{{ details.twitter }}</a></dd>
            {% endif %}
            {% if details.orders %}
              <dt>Orders</dt>
              <dd><a href="http://{{ details.orders }}">{{ details.orders }}</a></dd>
            {% endif %}
            {% if details.customerService %}
              <dt>Customer Service</dt>
              <dd><a href="http://{{ details.customerService }}">{{ details.customerService }}</a></dd>
            {% endif %}
            {% if details.enquiries %}
              <dt>enquiries</dt>
              <dd><a href="http://{{ details.enquiries }}">{{ details.enquiries }}</a></dd>
            {% endif %}
          </dl>
        </div>
      </div>
    </article>
    {% endfor %}

  </section>
  {% endfor %}

  <div class="c-distributorsWanted">

    <p>Distributors wanted - for more information <a href="/contact.html">contact us</a></p>

  </div>

</section>

{% endblock %}
