---
title: RapidRacerProducts | Home
desc: RapidRacerProducts – Mudguards and accessories for MTB, CX, & Road bikes
ogImg: /img/logo.png
pageId: js-index
pageClass: c-indexPage
pageCss: index
ads: [
  {
    class: distributor,
    title: Find a distributor,
    info: "Our products are stocked throughout the world, find the distributor for your region",
    linkText: Find now,
    linkUrl: /distributors.html
  },
  {
    class: fittingvids,
    title: How to fit videos,
    info: "Our products are easy to fit, watch our simple instructional videos",
    linkText: Watch now,
    linkUrl: https://www.youtube.com/playlist?list=PLkJnWfJ0ZkrwzStSFaVtez97eh7JiaxfE
  }
]
---
{% extends "default.html" %}

{% block icons %}
  {% include "icons-index.nunjucks" %}
{% endblock %}

{% block content %}

  {% include "hero.nunjucks" %}

  {% include "latest-products.nunjucks" %}

  {% include "our-products.nunjucks" %}

  {% include "quote.nunjucks" %}

  {% include "ads.nunjucks" %}

{% endblock %}
