---
title: RapidRacerProducts | Close out sale
desc: RapidRacerProducts – Mudguards and accessories for MTB, CX, & Road bikes
ogImg: /img/logo.png
pageId: js-sale
pageClass: c-salePage
pageCss: sale
---
{% extends "default.html" %}

{% block icons %}
  {% include "icons-index.nunjucks" %}
{% endblock %}

{% block content %}

  <section class="o-container">

    <h2 class="c-pageTitle">
      Close out sale
    </h2>

    <ul class="c-saleItems">
      {% for product in saleItems %}
        <li class="c-saleItems_item">
          <article class="c-saleItem">
            <h2 class="c-saleItem_title">{{ product.name }}</h2>
            <img src="{{ product.imgUrl }}" alt="{{ product.imgUrlAlt}}" class="c-saleItem_img">
            <p class="c-saleItem_price">&pound; {{ product.price }}</p>
            <button class="c-saleItem_btn c-btn c-btn--b c-btn--small">Add to Basket</button>
          </article>
        </li>
      {% endfor %}
    </ul>

  </section>

{% endblock %}
