---
title: RapidRacerProducts | Close out sale
desc: RapidRacerProducts – Mudguards and accessories for MTB, CX, & Road bikes
ogImg: /img/logo.png
pageId: js-sale
pageClass: c-salePage
pageCss: sale
---
{% extends "default.html" %}

{% block icons %}
  {% include "icons-index.nunjucks" %}
{% endblock %}

{% block content %}

  <section class="o-container">

    <h2 class="c-pageTitle">
      Close out sale
    </h2>

    {% for product in saleItems %}
      <section class="u-mb2">
        <h2 class="u-textLarge u-colWhite">{{ product.product }}</h2>
        <p class="u-colWhite">{{ product.description }}</p>

        <ul class="c-saleItems">
          {% for products in product.products %}
            <li class="c-saleItems_item">
              <article class="c-saleItem">
                <h2 class="c-saleItem_title">{{ products.name }}</h2>
                <img src="{{ products.imgUrl }}" alt="{{ products.imgUrlAlt}}" class="c-saleItem_img">
                <dl class="c-saleItem_attributes">
                  <dt>Colour:</dt>
                  <dd>{{ products.color }}</dd>
                  {% if products.size %}
                  <dt>Size:</dt>
                  <dd>{{ products.size }}</dd>
                  {% endif %}
                  {% if products.weight %}
                  <dt>Weight:</dt>
                  <dd>{{ products.weight }}g</dd>
                  {% endif %}
                </dl>
                <p>{{ products.for }}</p>
                <p class="c-saleItem_price">&pound; {{ products.price }}</p>
                <button
                  class="snipcart-add-item c-saleItem_btn c-btn c-btn--b c-btn--small"
                  data-item-id="{{ products.id }}"
                  data-item-name="{{ products.name }} ( {{ products.size }} {{ products.color }} )"
                  data-item-price="{{ products.price }}"
                  data-item-weight="100"
                  data-item-url="https://rrp.netlify.com/sale.html">
                  Add to Basket
                </button>
              </article>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}

  </section>

{% endblock %}
