---
title: RapidRacerProducts | Close out sale
desc: RapidRacerProducts – Mudguards and accessories for MTB, CX, & Road bikes
ogImg: /img/logo.png
pageId: js-sale
pageClass: c-salePage
pageCss: sale
---
{% extends "default.html" %}

{% block icons %}
  {% include "icons-index.nunjucks" %}
{% endblock %}

{% block content %}

  <section class="c-snipcart o-container">

      <header class="c-snipcart_header">
        <h2 class="c-snipcart_title">
          <span>Close</span>
          out sales
        </h2>
        <p class="c-snipcart_text">See our end of line sale products below, for all current models visit our <a href="/distributors.html">Distributors Page</a> for your region.</p>
      </header>

      <div class="c-snipcart_content">

        <div class="c-snipcart_summary snipcart-summary">
          <span class="c-snipcart_items">Number of items: <span class="snipcart-total-items"></span></span>
          <a href="#" class="c-snipcart_checkout snipcart-checkout">Checkout</a>
        </div>

        {% for product in saleItems %}
          <section class="u-mb2">
            <h2 class="u-textLarge">{{ product.product }}</h2>
            <p>{{ product.description }}</p>

            <ul class="c-saleItems">
              {% for products in product.products %}
                <li class="c-saleItems_item">
                  <article class="c-saleItem">
                    <h2 class="c-saleItem_title">{{ products.name }}</h2>
                    {% if products.details %}
                    <p class="c-saleItem_details">{{ products.details }}</p>
                    {% endif %}
                    <img src="{{ products.imgUrl }}" alt="{{ products.imgUrlAlt}}" class="c-saleItem_img">
                    <dl class="c-saleItem_attributes">
                      <dt>Colour:</dt>
                      <dd>{{ products.color }}</dd>
                      {% if products.size %}
                      <dt>Size:</dt>
                      <dd>{{ products.size }}</dd>
                      {% endif %}
                      {% if products.weight %}
                      <dt>Weight:</dt>
                      <dd>{{ products.weight }}g</dd>
                      {% endif %}
                    </dl>
                    <p>{{ products.for }}</p>
                    <p class="c-saleItem_price">&pound; {{ products.price }}</p>
                    <button
                      class="snipcart-add-item c-saleItem_btn c-btn c-btn--b c-btn--small"
                      data-item-id="{{ products.id }}"
                      data-item-name="{{ products.name }} ( {{ products.size }} {{ products.color }} )"
                      data-item-price="{{ products.price }}"
                      data-item-weight="100"
                      data-item-url="http://rapidracerproducts.com/sale.html">
                      Add to Basket
                    </button>
                  </article>
                </li>
              {% endfor %}
            </ul>
          </section>
        {% endfor %}

        <div class="u-center">
          <p>Note: We only sell “End of Line” products and products not stocked by our UK distributor direct to the public, all other products are sold through our regional distributors.</p>

          <a href="/distributors.html" class="c-btn c-btn--c">
            <span>Find distributors</span>
          </a>
        </div>

    </div>

  </section>

{% endblock %}
