---
title: RapidRacerProducts | White cable ties
desc: "White cable ties"
ogUrl: /products/accessories/zipties-white.html
ogImg: /img/products/accessories/zipties-white.png
pageId: js-product
pageClass: c-productPage
pageCss: product
productName: Bright White Cable Ties
productUrl: accessories/zipties/white
productDetails: {
  size: "245mm x 4.6mm",
  quantity: "pack of 100",
  cost: "6.00"
}
productOverview: [
  "Special custom made bright white cable ties"
]
productImages: [
  {
    imageUrl: accessories/zipties/white,
    imageAlt: Bright White Cable Ties,
    id: 1
  }
]
forSale: {
  id: "ZTW",
  name: "Cable Ties - Bright White",
  weight: "100"
}
---

{% extends "default.html" %}

{% block icons %}
  {% include "icons-products.nunjucks" %}
{% endblock %}

{% block content %}

  <article class="c-productMain">

    <div class="o-container">

      {% include "product-overview.nunjucks" %}

    </div>

  </article>

{% endblock %}