@if $lists {
  /* ==========================================================================
	   BASE - LISTS
	   ========================================================================== */
  ul,
  dl,
  dt,
  dd {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
  dt {
    color: colour(brand, a);
  }
}
// END IF
