/* ==========================================================================
   BASE - ROOT
   ========================================================================== */

html {
  height: 100%;
  font-family: setting(type, fontFamily);
  font-size: setting(type, fontSize);
  line-height: setting(type, lineHeight);
  background: colour(main, bg);
  color: colour(main, text);
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;

  @each $query, $bp in map-get($settings, breakpoints) {
    @include bp($query) {
      &::before {
        content: "bp" + $query;
        display: none;
      }
    }
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;

    &.c-indexPage {
      background-color: black;
      background-image: url($imgPath+'bg-index.jpg');
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 120%;

        @include bp(20) {
          background-size: 100%;
          background-position: 0 -32px;
        }
    }
}
