@if $tables {
  /* ==========================================================================
   BASE - TABLES
   ========================================================================== */
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    min-width: rem(500px);
    border: 1px solid lighten(colour(brand, b), 60);
  }
  th {
    text-align: left;
  }
  th, td {
    padding: rem(6px);
    border-bottom: 1px solid lighten(colour(brand, b), 60);
    border-right: 1px solid lighten(colour(brand, b), 60);
  }
}

// typical table markup
// <table>
// 	<thead>
// 		<tr>
// 			<th>table head</th>
// 			<th>table head</th>
// 		</tr>
// 	</thead>
// 	<tbody>
// 		<tr>
// 			<td>table body</td>
// 			<td>table body</td>
// 		</tr>
// 	</tbody>
// </table>
