/* ==========================================================================
   OBJECTS - DL-INLINE
   ========================================================================== */

.o-dlInline {
  dt,
  dd {
    display: inline;
    margin: 0;
  }
  dd::after {
    content: "\A";
    white-space: pre;
  }
}
