/* ==========================================================================
   OBJECTS - DL-INLINE
   ========================================================================== */

.o-dlInline {
  dt {
    margin-right: rem(4px);
  }
  dt,
  dd {
    display: inline;
  }
  dd {
    word-break: break-all;
  }
  dd::after {
    content: "\A";
    white-space: pre;
  }
}
