@if $o-wrapper {
  /* ==========================================================================
   OBJECTS - WRAPPER
   ========================================================================== */
  .o-container {
    padding-left: $rhythm / 2;
    padding-right: $rhythm / 2;
    max-width: setting(misc, maxWidth);
    margin: 0 auto;
  }
}
// END IF
