/* ==========================================================================
   OBJECTS - GRID-FLEXBOX
   ========================================================================== */

.o-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gutter;
  
  &__item {
    padding-left: $gutter;
  }
}
