---
title: RapidRacerProducts | BPET
desc: "RRP Frame & Helmet Sticker Set"
ogUrl: /products/accessories/stickers/frame-helmet-sticker-set.html
ogImg: /img/products/accessories/stickers/frame-helmet-sticker-set.png
pageId: js-product
pageClass: c-productPage
pageCss: product
productName: RRP Frame & Helmet Sticker Set
productUrl: accessories/stickers/frame-helmet-sticker-set
productDetails: {
  size: "A5 Sheet",
  quantity: "32 Stickers",
  cost: "3.99",
  details: "Digitally printed onto clear self-adhesive vinyl (NOTE: the background in the image is there for representation only, background is clear vinyl custom cut as shown)"
}
productImages: [
  {
    imageUrl: accessories/stickers/frame-helmet-sticker-set,
    imageAlt: RRP Frame & Helmet Sticker Set,
    id: 1
  }
]
forSale: {
  id: "ZTB",
  name: "RRP Frame & Helmet Sticker Set",
  price: "3.99",
  weight: "100",
}
---

{% extends "default.html" %}

{% block icons %}
  {% include "icons-products.nunjucks" %}
{% endblock %}

{% block content %}

  <article class="c-productMain">

    <div class="o-container">

      {% include "product-overview.nunjucks" %}

    </div>

  </article>

{% endblock %}