@if $c-icons {
/* ==========================================================================
   COMPONENT - ICONS
   ========================================================================== */

  .icon {
  	display: inline-block;
  	width: 1em;
  	height: 1em;
  	fill: currentColor;

      &--large {
        font-size: rem(24px);
      }
  }

  .icon-chevron-down {
  	width: 0.9999999850988388em;
  }
  .icon-external-link {
  	width: 0.9999981845417096em;
  }
  .icon-chevron-left {
  	width: 0.7500009983778em;
  }
  .icon-chevron-right {
  	width: 0.6785712540149689em;
  }

} // END IF
