// SETTINGS - GLOBAL

$settings: (

	type: (
		fontFamily 					: ("Playfair Display", serif),
		fontSize 						: 100%,
		lineHeight 					: $line-height / $font-size
	),

	headings: (
		fontFamily 					: ("Lato", sans-serif),
		fontSize 						: inherit,
		fontWeight 					: 700
	),

	breakpoints: (
		10 									: 400px,
    20                  : 860px,
    30                  : 1020px
	),

	misc: (
		transitionDuration 	: 250ms,
		borderRadius 				: 6px,
		maxWidth 						: 1124px
	)

);
