// SETTINGS - VARIABLES

// type
$font-size 					  : 16px;
$line-height 				  : 24px;

$fontUrl 				      : 'https://fonts.googleapis.com/css?family=Open+Sans|Droid+Serif:400,700';

$fontFamily--alt 		  : Cambria, Georgia, Times, "Times New Roman";
$fontFamily--code 	  : Monaco, Courier New, monospace;

// spacings

$rhythm 		    		  : $line-height / $font-size * 1rem;
$gutter               : 20px / $font-size * 1rem;

// paths

$imgPath 						  : 'img/';

// imports

// base
$blockquotes				  : true;
$embedded 					  : true;
$headings 					  : true;
$inputs 						  : true;
$labels 						  : true;
$links  						  : true;
$lists 			 				  : true;
$paragraphs 				  : true;
$tables 						  : true;

// objects
$o-grids 				 		  : true;
$o-grids-classes 		  : false;
$o-wrapper 					  : true;
$o-media              : false;

// components
$c-nav-site 				  : true;
$c-buttons 					  : true;
$c-icons              : true;

// utilities/helpers
$colours 		          : true;
$visibility 	        : true;
$widths-flexbox       : true;
