@if $c-buttons {
  /* ==========================================================================
   COMPONENTS - BUTTONS
   ========================================================================== */
   
  .c-btn {
    position: relative;
    display: inline-block;
    height: em(48px);
    padding: 0 em(24px);
    font: inherit;
    line-height: em(48px);
    text-align: center;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;

      span {
        position: relative;
        z-index: 10;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 100%;
        transform: translateY(100%);
        z-index: 0;
        transition: transform 250ms ease-in;
      }

      &:hover,
      &:active,
      &:focus,
      &:visited {}

    &--a {
      background: transparent;
      border-color: colour(main, borders);
      color: white;
      text-shadow: 0 0 4px rgba(black, 0.4);

        &:before {
          background: white;
        }

        &:hover {
          color: black;
          &:before {
            transform: translateY(0%);
          }
        }
    }
    &--tiny {
      font-size: rem(11px);
    }
    &--small {
      font-size: rem(13px);
    }
    &--large {
      font-size: rem(20px);
    }
    &--huge {
      font-size: rem(22px);
    }
  }
  // disabled buttons
  button[disabled],
  .c-btn--disabled {
    opacity: 0.4;
    cursor: default;
    &:hover {
      opacity: 0.4;
    }
  }
}
// END IF
