@if $c-buttons {
  /* ==========================================================================
   COMPONENTS - BUTTONS
   ========================================================================== */
  .c-btn {
    display: inline-block;
    height: em(40px);
    padding: 0 em(10px);
    font: inherit;
    line-height: em(40px);
    text-align: center;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus,
    &:visited {}
    &--a {
      background: white;
      border-color: colour(main, borders);
      color: black;
      &:hover,
      &:focus,
      &:active,
      &:visited,
      &.btn-disabled,
      &[disabled] {}
    }
    &--tiny {
      font-size: rem(11px);
    }
    &--small {
      font-size: rem(13px);
    }
    &--large {
      font-size: rem(18px);
    }
    &--huge {
      font-size: rem(20px);
    }
  }
  // disabled buttons
  button[disabled],
  .c-btn--disabled {
    opacity: 0.4;
    cursor: default;
    &:hover {
      opacity: 0.4;
    }
  }
}
// END IF
