/* ==========================================================================
   COMPONENTS - LOGO
   ========================================================================== */

.c-logo {
  a {
    line-height: 0;
  }

  &__dark {
    display: block;
  }

  &__light {
    display: none;
  }

  @include bp(30, max) {
    max-width: 100px;
  }

  @include bp(30) {
    margin-top: rem(6px);
  }
}

.c-distributorsPage {
  .c-logo__dark {
    display: none;
  }
  .c-logo__light {
    display: block;
  }
  .c-siteNav__link,
  .c-siteNav__icon {
    color: white;
  }
  .sub-active .c-siteNav__icon {
    color: colour(brand, b);
  }
}
