@if $c-nav-site {
  /* ==========================================================================
   COMPONENTS - SITE NAVIGATION
   ========================================================================== */

  .c-siteNav {

      &__item {
        position: relative;

          &.sub-active {
            .c-siteNav__listSub {
              display: block;
            }
          }
      }
      &__icon {
        position: absolute;
        top: rem(12px);
        right: rem(12px);
      }
      &__link, &__linkSub {
        display: block;
        padding: 0 rem(12px);
        height: rem(48px);
        line-height: rem(48px);
        color: white;
        text-decoration: none;
      }
      &__linkSub {
        color: darken(white,20);
      }
      &__type {
        float: right;
        margin-right: rem(-16px);
        padding: 0 rem(8px);
        min-width: rem(70px);
        font-size: rem(11px);
        background: rgba(black,0.2);
        text-transform: uppercase;
        text-align: right
      }
      &__listSub {
        display: none;
        background: lighten(colour(brand, b),5);
      }

      @include bp(30, max) {
        margin: 0 rem(-12px);
        &__item {
          border-bottom: 1px solid lighten(colour(brand, b),5);
            &:last-child {
              border: none;
                a {
                  border: none;
                }
            }
        }
        &__link {
          border-bottom: 1px solid darken(colour(brand, b),5);
        }
        &__linkSub {
          border-bottom: 1px solid colour(brand, b);
        }
        &__itemSub {
          border-bottom: 1px solid lighten(colour(brand, b),10);

            &:last-child {
              border: none;

                a {
                  border: none;
                }
            }
        }
      }
      @include bp(30) {
        float: right;
        margin-right: rem(132px);

          &__list {
            display: flex;
          }
          &__item {
            &:hover {
              background: rgba(white,0.9);
              border-radius: 4px 4px 0 0;

                .c-siteNav__link {
                  color: darken(colour(main, text),10);
                  text-shadow: none;
                }
                .c-siteNav__listSub {
                  display: block;
                }
                .icon {
                  transform: rotate(180deg);
                }
            }
            &:last-child a {
              color: colour(brand, a);
            }
          }
          &__itemSub {
            border-bottom: 1px solid darken(white,15);

              &:hover {
                background: white
              }
          }
          &__link {
            height: rem(60px);
            padding: 0 rem(10px);
            font-size: rem(18px);
            line-height: rem(60px);
            text-shadow: 1px 1px 6px rgba(black,0.5);
          }
          &__item--sub {
            padding-right: rem(22px);
          }
          &__icon {
            top: calc(50% - 8px);
            color: darken(white,20);
          }
          &__listSub {
            position: absolute;
            top: 100%;
            left: 0;
            width: rem(400px);
            background: rgba(white,0.9);
            box-shadow: 4px 4px 6px rgba(black, 0.4);
          }
          &__linkSub {
            padding: 0 rem(18px);
            color: darken(colour(main, text),10);
          }
          &__type {
            margin-right: rem(-18px);
            background: rgba(white,0.6);
          }
      }
  }

}
