/* ==========================================================================
   COMPONENTS - SOCIAL-NAV
   ========================================================================== */

.c-socialNav {

  &__item {
    display: inline-block;
    padding: 0 rem(6px);
  }

  .icon {
    color: white;
    opacity: 0.9;
  }

}
