/* ==========================================================================
   COMPONENTS - SOCIAL-NAV
   ========================================================================== */

.c-socialNav {
  &__item {
    display: inline-block;
    margin-left: 2px;
  }

  &__link {
    display: block;
    width: rem(28px);
    height: rem(28px);
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: rem(32px);
    overflow: hidden;
  }

  &__link--facebook {
    background: colour(social, facebook);
  }

  &__link--twitter {
    background: colour(social, twitter);
  }

  &__link--instagram {
    background: colour(social, instagram);
  }

  &__link--youtube {
    background: colour(social, youtube);
  }
}
