/* ==========================================================================
   COMPONENTS/PAGES - VOROVA
   ========================================================================== */

.c-vorova {
  display: block;
  margin-bottom: $rhythm;

  &__img {
    width: 100%;
  }
}