---
title: RapidRacerProducts | RearGuard - off road
desc: "The RearGuard OFF ROAD is the best designed mudguard to fit underneath your saddle for off road bikes, it attaches with a hook and loop strap and takes less than 20 seconds to fit."
ogUrl: /products/mudguards/rearguard-offroad.html
ogImg: /img/products/mudguards/rearguard-offroad/gallery/1.png
pageId: js-product
pageClass: c-productPage
pageCss: product
productName: RearGuard - OFF ROAD
productUrl: mudguards/rearguard-offroad
productShortDesc1: "Simply the best last minute rear mudguard to keep your rear clear"
uk: true
productLogo: rearguard
productOverview: [
  "The RearGuard - OFF ROAD is designed for use off road on either a mountain bike or CX bike, it's a fast fitting mudguard for those last minute decisions. It attaches underneath the saddle with 1 hook and loop strap and takes less than 20 seconds to fit. It will never come off during your ride and offers great protection for your REAR and back",
  "The 3 new creases add stability and strength and the additional length adds protection over rough terrain"
]
productWeight: 41g
productColours: {
  title: Colours available,
  colours: [
    {
      colour: black,
      imageUrl: mudguards/rearguard-offroad/gallery/1.png,
      imageAlt: RearGuard in black,
      id: 1
    },
    {
      colour: white,
      imageUrl: mudguards/rearguard-offroad/gallery/white.png,
      imageAlt: RearGuard in black,
      id: white
    }
  ]
}
productImages: [
  {
    imageUrl: mudguards/rearguard-offroad/gallery/1,
    imageAlt: RearGuard-OffRoad,
    id: 1
  },
  {
    imageUrl: mudguards/rearguard-offroad/gallery/2,
    imageAlt: RearGuard-OffRoad,
    id: 2
  },
  {
    imageUrl: mudguards/rearguard-offroad/gallery/3,
    imageAlt: RearGuard-OffRoad,
    id: 3
  },
  {
    imageUrl: mudguards/rearguard-offroad/gallery/4,
    imageAlt: RearGuard-OffRoad,
    id: 4
  },
  {
    imageUrl: mudguards/rearguard-offroad/gallery/5,
    imageAlt: RearGuard-OffRoad,
    id: 5
  },
  {
    imageUrl: mudguards/rearguard-offroad/gallery/6,
    imageAlt: RearGuard-OffRoad,
    id: 6
  },
  
  {
    imageUrl: mudguards/rearguard-offroad/gallery/white,
    imageAlt: RearGuard-OffRoad,
    id: white
  }
]
tabsNav: [
  {
    link: Fitting,
    id: fitting,
    activeClass: is-active
  }
]
fitting: {
  saddle: [
    {
      step: "If your RearGuard doesn't come with the strap fitted, then feed the hook and loop strap A through the slots on the RearGuard with the hook and loop side facing upwards (outside) NB: the holes are designed to be a tight fit to stop the hook and loop sliding when fitting"
    },
    {
      step: "Pinch / bend the sides of the RearGuard hard in area C marked below and slide through the rear seat rails"
    },
    {
      step: "Then push both the arms B and the hook and loop strap A over the top of the saddle rail both sides from the inside NB: you can be aggressive if tight, its important all 4 arms B and hook and loop strap A sit on the OUTSIDE of the rail"
    },
    {
      step: "Now loop the hook and loop strap A through the plastic buckle and attach loosely ensuring that the plastic buckle finishes up between the rails, now centre the guard at the rear"
    },
    {
      step: "This next bit is important, once loosely fitted you need to undo and hold the hook and loop strap A with one hand, and then push the guard in from the rear whilst tightening the hook and loop strap back up TIGHT to finish",
      images: [
        {
          imgUrl: mudguards/rearguard-offroad/fitting/saddle-1.png,
          imgAlt: Image showing how to fit the RearGuard Off Road
        }
      ]
    }
  ],
  removal: [
    {
      step: "Simply undo the hook and loop strap A, pinch the sides of the RearGuard hard in area C marked below until all 4 arms B have popped back over the saddle rail, and then pull out backwards"
    }
  ],
  vidLink: https://www.youtube.com/playlist?list=PLkJnWfJ0ZkrwzStSFaVtez97eh7JiaxfE,
  important: {
    multiple: [
      "This mudguard is not suitable for riding off the back of the saddle. THE HOOK AND LOOP STRAPS MUST BE TIGHT AND OUT OF THE WAY OF ANY CLOTHING.",
      "BE CAREFUL not to kick the RearGuard when getting on and off the bike as this may cause damage or injury.",
      "CHECK CLEARANCE when using a DROPPER seat posts as it may strike the tyre under full compression when the post is down."
    ]
  }
}
---

{% extends "default.html" %}

{% block icons %}
  {% include "icons-products.nunjucks" %}
{% endblock %}

{% block content %}

  <article class="c-productMain">

    <div class="o-container">

      {% include "product-overview.nunjucks" %}

    </div><!-- !END div.o-grid -->

    <div class="c-tabs">

      <ul class="c-tabs__nav o-container">
        {% for item in tabsNav %}
        <li class="c-tabs__navItem">
          <a href="#{{ item.id }}" class="c-tabs__link {{ item.activeClass }}">{{ item.link }}</a>
        </li>
        {% endfor %}
      </ul>

      <div class="c-tabs__contentWrap">

        <div class="o-container">

          <div id="fitting" class="c-tabs__content is-active">
            {% include "fitting.nunjucks" %}
            {% include "made-in-uk.nunjucks" %}
          </div>

        </div>

      </div>

    </div>

  </article>

{% endblock %}
