/* ==========================================================================
   COMPONENTS/PAGES - BOX
   ========================================================================== */

.c-box {
  padding: $rhythm / 2;
  border-radius: 4px;

    &--white {
      background: rgba(white,0.9);
    }
}
