/* ==========================================================================
   COMPONENTS/PAGES - BOX
   ========================================================================== */

.c-box {
  padding: $rhythm;
  border-radius: 4px;

    &--white {
      background: rgba(white,0.92);
    }
}
