/* ==========================================================================
   COMPONENTS/PAGES - CATEGORY-LIST
   ========================================================================== */

.c-categoryList {

  &__item {
    display: inline-block;
    padding: 0 rem(10px);
    line-height: 1;
    text-shadow: 1px 1px 6px rgba(black, 0.5);

      &:not(:last-child) {
        border-right: 1px solid colour(brand, a);
      }
  }

  @include bp(20) {
    font-size: rem(24px);
  }

}
