/* ==========================================================================
   COMPONENTS/PAGES - CLOSE OUT SALE
   ========================================================================== */

.c-closeOutSale {
  padding: $rhythm 0;
  background: rgba(colour(brand, a), 0.8);
  text-align: center;

  &_title {
    @include vr(28px, 1, 1);
    color: white;
    text-transform: uppercase;
  }

  &_link {
    font-size: rem(18px);
  }

  @include bp(20) {
    padding: $rhythm * 2 0;

    .o-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_title {
      font-size: rem(36px);
      margin: 0 rem(36px) 0 0;
    }
  }
}
