/* ==========================================================================
   COMPONENTS/PAGES - DISTRIBUTOR-COUNTRIES
   ========================================================================== */

.c-distributorCountries {
  margin-bottom: $rhythm;
  padding: $rhythm;
  background: rgba(white, 0.7);
  text-align: center;

    &__label {
      display: block;
      margin-bottom: rem(6px);
      font-size: rem(18px);
    }
}
