/* ==========================================================================
   COMPONENTS/PAGES - FITTING
   ========================================================================== */

.c-fitting {
  padding-left: rem(16px);
  
  &__item {
    padding: rem(4px) 0;
  }
  &__img {
    width: 100%;
    padding: rem(12px);
    border: 1px solid colour(brand, c);

      &:first-child {
        margin-top: rem(24px);
        margin-botom: rem(8px);
      }
      &:last-child {
        margin-bottom: rem(24px);
      }
  }
}
