/* ==========================================================================
   COMPONENTS/PAGES - GALLERY
   ========================================================================== */

.c-gallery {
  padding: rem(12px);
  box-shadow: 0 0 8px rgba(black, 0.4);
  background: white;

    &__img {
      display: none;
      width: 100%;
      margin-bottom: rem(6px);

        &.is-visible {
          display: block
        }
    }
    &__btn {
      padding: rem(6px) rem(10px);
      font-size: rem(20px);
      line-height: 0;
      background: colour(brand, a);
      border-radius: 8px;
      color: white;
      border: none;
      box-shadow: 0 0 8px rgba(black, 0.4);
      cursor: pointer;
      transition: transform 250ms ease-in;

        &--prev {
          float: left;

            &:hover {
              .icon {
                transform: translateX(-3px);
              }
            }
        }
        &--next {
          float: right;

          &:hover {
            .icon {
              transform: translateX(3px);
            }
          }
        }
    }
}
