/* ==========================================================================
   COMPONENTS/PAGES - HERO
   ========================================================================== */

.c-hero {
  padding-bottom: rem(132px);
  text-align: center;
  color: white;

    &__btn {
      margin-bottom: rem(18px);
    }

    @include bp(10) {
      padding-bottom: rem(168px);
    }

    @include bp(20) {
      padding-top: rem(12px);
      padding-bottom: rem(340px);
    }
}
