/* ==========================================================================
   COMPONENTS/PAGES - PRODUCT-COLOURS
   ========================================================================== */

.c-productCols {
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 1 0 80px;
    max-width: 80px;
    padding: rem(4px);
    background: white;
    border: 1px solid lighten(colour(brand, a),45);
  }
  &__img {
    display: block;
  }

}
