/* ==========================================================================
   COMPONENTS/PAGES - PRODUCT-VIDEOS
   ========================================================================== */

.c-productVideos {
  display: flex;
  flex-wrap: wrap;

  &_video {
    flex: 1 0 rem(140px);
    text-align: center;
    padding: rem(12px);
  }
}