/* ==========================================================================
   COMPONENTS/PAGES - PRODUCT-OVERVIEW
   ========================================================================== */

.c-productMain {

    &__title {
      margin-bottom: $rhythm;
      padding: $rhythm 0;
      text-align: center;
      line-height: 0;
    }

    &__img {
      display: block;
      width: 100%;
    }

    @include bp(20, max) {
      &__title {
        padding: $rhythm / 2 rem(6px);
        background: rgba(white, 0.6);
      }
    }
    @include bp(20) {
      &__title {
        padding: $rhythm 0;
        border-width: 1px 0 1px 0;
        border-style: solid;
        border-color: darken(colour(brand, c),14);
      }
    }
}
