/* ==========================================================================
   COMPONENTS/PAGES - PRODUCT-OVERVIEW
   ========================================================================== */

.c-productMain {

    &__title {
      padding: $rhythm 0;
      text-align: center;
      line-height: 0;
      border-top: 1px solid darken(colour(brand, c),14);
    }

    &__img {
      display: block;
      width: 100%;
      box-shadow: 0 0 8px rgba(black, 0.4);
    }

    @include bp(20, max) {
      &__overview {
        padding-top: $rhythm;
      }
    }

}
