/* ==========================================================================
   COMPONENTS/PAGES - PRODUCT-SIZES
   ========================================================================== */

.c-productSizes {
  @include cf;
  dt,
  dd {
    float: left;
  }
  dt {
    width: 100%;
  }

  @include bp(20) {
    dt {
      width: 28%;
    }
    dd {
      width: 72%;
    }
  }
}
