/* ==========================================================================
   COMPONENTS/PAGES - PRODUCT-OVERVIEW
   ========================================================================== */

.c-productMain {

    &__title {
      padding: $rhythm 0;
      text-align: center;
      line-height: 1.2;
      border-top: 1px solid darken(colour(brand, c),12);

        span {
          display: block;
          font-size: rem(36px);
        }
    }
    &__subTitle {
      display: block;
      @include vr(22px, 1, 1);
    }
    &__shortDesc {
      font-size: rem(18px);

        &:nth-of-type(1) {
          margin-bottom: 0;
        }
    }

    @include bp(20, max) {
      &__overview {
        padding-top: $rhythm;
      }
    }
    @include bp(20) {
      &__title {
        padding: $rhythm * 1.6 0;
        span {
          font-size: rem(48px);
        }
      }
    }

}
