/* ==========================================================================
   COMPONENTS/PAGES - PRODUCTS
   ========================================================================== */

.c-products {
  display: flex;
  flex-wrap: wrap;
  border-radius: 6px;

    &__item {
      flex: 1 0 260px;

        a {
          text-decoration: none;
        }
    }
}
