/* ==========================================================================
   COMPONENTS/PAGES - PRODUCT
   ========================================================================== */

.c-product {
  position: relative;
  padding: 0 rem(12px) 0 rem(12px);
  background: white;
  border: 1px solid colour(main, borders);
  text-align: center;
  transition: all 150ms ease-in;

    a {
      display: block;
      text-decoration: none;
    }

    &:hover {
      box-shadow: 0 0 8px rgba(black, 0.4);
      transform: scale(1.04);
      -webkit-filter: blur(0);
      z-index: 10;
    }

    &__name {
      margin: 0 rem(-12px);
      color: colour(main, text);
    }
    &__name {
      margin-bottom: rem(6px);
      padding: rem(6px);
      background: lighten(colour(brand, c),12);
      border-bottom: 1px solid colour(main, borders);
      z-index: 10;

        &--more {
          font-size: rem(12px);
          color: colour(brand, a);
        }
    }
    &__for {
      margin: 0;
      padding: rem(4px);
      font-size: rem(14px);
      border-top: 1px solid colour(main, borders);
      text-transform: uppercase;
      text-align: center;
      color: colour(main, text);
    }

    @include bp(20, max) {
      &--latest {
        display: none;
      }
    }
    @include bpMinMax(20, 30) {
      &--latest {
        .c-product__name {
          min-height: rem(65px);
        }
      }
    }

    @include bp(30) {
      &--latest {
        margin: rem(15px);
        .c-product__img {
          max-width: 75%;
        }
      }
    }

    // @include bpMinMax(20, 30) {
    //   &--latest {
    //     .c-product__name {
    //       min-height: rem(65px);
    //     }
    //   }
    // }
    // @include bp(20, max) {
    //   &--latest {
    //     .c-product__for {
    //       border-top: none;
    //     }
    //     .c-product__img {
    //       display: none;
    //     }
    //   }
    // }
    // @include bp(30) {
    //   &--latest {
    //     margin: rem(15px);
    //     .c-product__img {
    //       max-width: 75%;
    //     }
    //   }
    // }
}
