/* ==========================================================================
   COMPONENTS/PAGES - PRODUCT
   ========================================================================== */

.c-product {
  position: relative;
  padding: 0 rem(12px) 0 rem(12px);
  background: white;
  border: 1px solid colour(main, borders);
  text-align: center;
  transition: all 150ms ease-in;

    a {
      display: block;
    }

    &--latest {
      margin: rem(16px);
      border-radius: 4px;
    }

    &:hover {
      box-shadow: 0 0 8px rgba(black, 0.4);
      transform: scale(1.04);
      -webkit-filter: blur(0);
      z-index: 10;
    }

    &__name {
      margin: 0 rem(-12px);
      color: colour(main, text);
    }
    &__name {
      margin-bottom: rem(12px);
      padding: rem(6px);
      background: lighten(colour(brand, c),12);
      border-bottom: 1px solid colour(main, borders);
      z-index: 10;

        &--more {
          font-size: rem(14px);
          color: colour(brand, a);
        }
    }
    &__img {
      margin-bottom: rem(12px);
    }
    &__for {
      margin: 0;
      padding: rem(4px);
      font-size: rem(14px);
      border-top: 1px solid colour(main, borders);
      text-transform: uppercase;
      text-align: center;
      color: colour(main, text);
    }
}
