/* ==========================================================================
   COMPONENTS/PAGES - SALE ITEM
   ========================================================================== */

.c-saleItem {
  padding: rem(12px);
  background: white;
  border-radius: 2px;
  box-shadow: 0 0 4px 4px rgba(black, 0.1);

  &_img {
    display: block;
    margin-bottom: rem(12px);
    border: 1px solid colour(main, borders);
    transition: transform 200ms ease-in;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }

  &_title,
  &_details {
    text-align: center;
  }

  &_title {
    margin-bottom: rem(6px);
    font-size: rem(18px);
    text-transform: uppercase;
  }

  &_details {
    margin-bottom: rem(6px);
  }

  &_attributes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $rhythm;

    dt,
    dd {
      flex: 1 0 50%;
    }
  }

  &_price {
    font-size: rem(18px);
  }

  &_btn {
    width: 100%;
  }
}
