/* ==========================================================================
   COMPONENTS/PAGES - SECTIONS
   ========================================================================== */

.c-section {
  padding-top: rem(24px);
  padding-bottom: rem(24px);
  background: white;

    &__title, &__subTitle {
      text-transform: uppercase;
      text-align: center;

        span {
          color: colour(brand, a);
        }
    }
    &__title {
      margin-bottom: $rhythm / 2;
      font-size: rem(18px);
    }

    &__subTitle {
      margin-bottom: $rhythm;
    }

    &__info {
      font-size: rem(18px);
    }

    &--dark {
      background: rgba(black,0.5);
      color: white;
    }
    &--light {
      background: colour(brand, c);
    }

    @include bp(20) {
      padding-top: rem(36px);
      padding-bottom: rem(36px);
      &__title {
        font-size: rem(22px);
      }
      &--dark {
        padding-top: rem(18px);
        padding-bottom: rem(12px);
      }
    }
}
