/* ==========================================================================
 UTILITIES/HELPERS - SPACINGS
 ========================================================================== */

.u-mb0 {
  margin-bottom: 0;
}
.u-mb05 {
  margin-bottom: $rhythm / 2;
}
.u-mb1 {
  margin-bottom: $rhythm;
}
.u-mb2 {
  margin-bottom: $rhythm * 2;
}
