/* ==========================================================================
 UTILITIES/HELPERS - TYPOGRAPHY
 ========================================================================== */

.u-center {
  text-align: center;
}

.u-textSmall {
  font-size: rem(14px);
}
.u-textLarge {
  font-size: rem(20px);
}

.u-fltR {
  float: right;
  margin-left: rem(12px);
}
